24117	1	Немецкий экономист Хютер: газовый рынок рухнет, если страны ЕС будут думать только о себе
24117	3	Глава Института германской экономики Михаэль Хютер в интервью газете Welt am Sonntag рассказал, что если отдельные государства Евросоюза решат прекратить подачу газа в соседние страны из-за возможной остановки его поставок из России, то европейский газовый рынок может рухнуть.
24117	5	«Не должно быть ситуации, когда отдельные страны прекращают свои поставки в соседние. Это в интересах Европы и в интересах Германии, которая обменивается газом со всеми соседними странами», — сказал он.
24117	7	Кроме того, эксперт заявил о необходимости недопущения ситуации, аналогичной той, которая случилась в разгар пандемии коронавируса, когда страны Европы закрыли границы, из-за чего европейские цепочки поставок оказались под угрозой срыва.
24117	9	«Сразу после начала пандемии некоторые государства ЕС закрыли свои границы, что сильно повлияло на транспортировку товаров и поставки в Евросоюз. Подобное не должно повториться», — считает Хютер.
24117	11	Экономист уверен, что эгоизм стран ЕС может привести к катастрофическим последствиям.
24117	13	«Если в ЕС будут думать только о себе, перекрывая потоки газа в соседние государства, обвал европейского газового рынка грозит разрушительными последствиями для компаний и потребителей. Остановка производства в отрасли тогда почти неизбежна», — подытожил Хютер.
24117	15	Ранее вице-канцлер Германии Роберт Хабек призвал компании, у которых есть офисные помещения снизить температуру воздуха в офисах на фоне энергетического кризиса.
