24130	1	В Госдуме предрекли Киеву сокрушительный ответ в случае удара по Крымскому мосту
24130	3	В случае попытки Киева нанести удар по Крымскому мосту, ответ России будет сокрушительным и не оставит Украине шанса оправиться. С таким заявлением выступил депутат Государственной Думы Михаил Шеремет, его слова приводит РИА Новости.
24130	5	«Попытка атаковать украинскими националистами Крымский мост обернется сокрушительным ударом», — заявил парламентарий.
24130	7	По словам Шеремета, при попытке такой провокации будут нанесены удары по украинским центрам принятия решений и логистическим узлам.
24130	9	В свою очередь, член Совета Федерации Андрей Клишас заявил, что подобные намерения Киева в очередной раз показывают необходимость денацификации и демилитаризации всей территории Украины.
24130	11	Ранее советник главы офиса Владимира Зеленского Алексей Арестович рассказал, что в планах ВСУ значится нападение на Крымский мост. Он пояснил, что украинские солдаты атакуют его при первом же появлении такой технической возможности.
