833036489	1	Bill Maher says he doesn't need Mueller report to know Trump is a traitor 'because he has a TV'
833036489	3	Bill Maher has said he doesn't need the Robert Mueller report to know President Donald Trump is a traitor 'because he has a TV'.
833036489	4	Speaking on his Friday night show the Real Time host said: 'I must say, I don't think it looks good.
833036489	5	No further indictments, which means not Don Jr., even after the "I love it" memo, really?
833036489	6	Not Jared, not Manafort or Stone for working with the Russians.
833036489	7	'Did the Democrats put too must trust in the Mueller report?
833036489	8	Because I don't need the Mueller report to know he's a traitor.
833036489	9	I have a TV.'
833036489	10	Maher was joined by a panel of Democratic Rep. Eric Swalwell, GOP pollster Kristen Soltis Anderson and former Deputy Assistant Secretary for Defense for Russia Evelyn Farkas.
833036489	11	After labeling Trump a traitor the audience the clapped in approval.
833036489	12	Swalwell agreed, saying 'yes, if you have a TV or a Twitter account you've already seen obstruction of justice'.
833036489	13	Real Time host Bill Maher said Friday night he doesn't need the Robert Mueller report to know President Donald Trump is a traitor 'because he has a TV'
833036489	14	Special Counsel Robert Mueller has not recommended any new criminal indictments as he wraps up his Russia probe.
833036489	15	Trump's attorney, Rudy Giuliani, said he and the president's other lawyers 'are confident that there is no finding of collusion by the president'
833036489	16	Swalwell said: 'And people are on their way to jail, have gone to jail, there's probably a farming out of other investigations, but yes, if you have a TV or a Twitter account you've already seen obstruction of justice.
833036489	17	'But here's what's important is that the public sees the report contemporaneously with the president.
833036489	18	He should not be allowed to edit, he should not be allowed to restrict or sanitize, and Mueller has to come before Congress and tell us its veracity.'
833036489	19	He said they would subpoena Mueller to testify before Congress to make that happen.
833036489	20	Anderson said she was 'glad' that the Mueller report was filed, suggesting that the president had helped to drive down the public's opinion of the special counsel's investigation.
833036489	21	Maher added: 'He knows how to do that - to hammer the same thing every day, month after month after month.
833036489	22	''Mueller's dirty, I'm clean!"
833036489	23	Can you imagine getting people to believe that?'
833036489	24	Mueller has not recommended any new criminal indictments as he wraps up his Russia probe.
833036489	25	He delivered a long-awaited report Friday to Attorney General Bill Barr, opening up the possibility that key members of Congress could know its bottom line by the end of the weekend.
833036489	26	President Donald Trump's attorney, Rudy Giuliani, said he and the president's other lawyers 'are confident that there is no finding of collusion by the president.'
