814371058	1	Brexit: Nigerians in London hope for split
814371058	3	British Prime Minister Theresa May has warned her critics are putting democracy at risk if they can't unite behind her Brexit deal.
814371058	4	MPs are due to vote on May's divorce agreement next week.
814371058	5	But while Westminster remains divided, there's an unexpected surge of support from one of London's multicultural neighbourhoods.
814371058	6	Al Jazeera's Laurence Lee reports.
