814403543	1	Report: Theresa May Could Postpone Brexit Agreement Final Vote Again
814403543	3	Prime Minister Theresa May may again push back the final House of Commons vote on her EU Withdrawal Agreement in face of continued opposition by Brexiteer MPs, according to sources speaking to The Telegraph.
814403543	4	MPs return to the House of Commons to debate the agreement next week and Mrs May’s aides are said to be drawing up a plan to make approval of the deal conditional on obtaining further reassurances from the European Union over the Irish backstop, according to the conservative broadsheet.
814403543	5	The vote was postponed in December in face of certain defeat relating to objections from Brexit-supporting MPs that the backstop could lock Northern Ireland in regulatory alignment with the bloc and threaten the Union.
814403543	6	With the vote pencilled in for the week beginning January 15th, Downing Street still has not come closer to assuaging those concerns, according to insiders, particularly for the 10 Northern Irish DUP MPs that May’s Conservative government rely on.
814403543	7	The prime minister’s advisors are considering making approval of the deal “subject to” May’s Government obtaining assurances that the Irish backstop will be temporary.
814403543	8	Former Downing Street director of legislative affairs Nikki da Costa told The Telegraph, “Getting conditional approval isn’t enough for the Government to go ahead but it may be enough to show the EU there is a majority if they can move a little further.”
814403543	9	She added that it could allow the Government to “return for a third go at the meaningful vote, with a proven recipe for a majority” at a later date — despite there being less than three months until the UK formally leaves the EU.
814403543	10	Mayday: Conservative Party Members Prefer ‘No Deal’ Brexit to PM’s Deal https://t.co/oVeAOzPjBF — Breitbart London (@BreitbartLondon) January 4, 2019
814403543	11	Chairman of the European Research Group Jacob Rees-Mogg MP has said that Brexiteers have not gone soft over the Christmas break and still remain resistant to supporting the agreement, saying that more than 100 Tory MPs alone are expected to rebel and vote it down.
814403543	12	“During the recess I read reports that I could be open to supporting the Withdrawal Agreement and that I was even ‘a work in progress.’ It was at this time that it was reported that MPs when outside the Westminster bubble could be persuaded to back the deal.
814403543	13	“This never seemed likely and in my own case was wishful thinking, the backstop on its own is an intolerable failure of the negotiations,” Mr Rees-Mogg wrote in the Sunday Express.
814403543	14	’No Way’ Northern Irish DUP Will Support May’s Brexit Deal https://t.co/d7X9mhCzer — Breitbart London (@BreitbartLondon) January 4, 2019
814403543	15	Mrs May has doubled down on the scare tactics to push MPs into backing her Withdrawal Agreement, writing in the Mail on Sunday that critics of her deal were risking democracy and the economy.
814403543	16	“The only way to both honour the result of the referendum and protect jobs and security is by backing the deal that is on the table,” she wrote adding that both Remain MPs pushing for a second referendum and Brexiteers wanting to honour the referendum result by making a clean break from the EU without a long transition tied to the bloc’s rules “must realise the risks they are running with our democracy and the livelihoods of our constituents.”
814403543	17	Meanwhile, a march organised by the pro-Remain People’s Vote, which calls for a second referendum, was revealed by The Telegraph to have only had a third of the attendees it claimed to while a petition calling for the UK to leave the EU without a deal on March 29th, 2019, has gained more than 300,000 signatures.
