833053676	1	Dem Rep. Lewis on Trump Impeachment Post-Mueller Report: ‘I Think That Day Will Come’
833053676	3	Saturday on MSNBC’s “AM Joy,” Rep. John Lewis (D-GA) offered his thoughts on the completion of Department of Justice special counsel Robert Mueller’s report, which was submitted to Attorney General William Barr a day earlier.
833053676	4	Lewis insisted Congress will demand the report be released to the public.
833053676	5	The Georgia Democrat also said he still believed President Donald Trump’s impeachment was still inevitable.
833053676	6	“I think that day will come,” Lewis said when asked by Reid about impeachment prospects.
833053676	7	“I don’t think he’s legitimate.
833053676	8	I said it back at the end of the election.
833053676	9	I still believe that today.”
833053676	10	Follow Jeff Poor on Twitter @jeff_poor
