818141325	1	Prime Minister May's 'Brexit Plan B' looks a lot like 'Brexit Plan A'
818141325	3	British prime minister Theresa May unveiled her Brexit Plan "B" yesterday after Parliament decisively rejected her original plan to take Great Britain out of the European Union last week.
818141325	4	Associated Press:
818141325	5	Opposition leader Jeremy Corbyn of the Labour Party accused May of being in "deep denial" about her doomed deal.
818141325	6	"This really does feel a bit like 'Groundhog Day,'" he said, referring to the 1993 film starring Bill Murray, in which a weatherman is fated to live out the same day over and over again.
818141325	7	Outlining what she plans to do after her EU divorce deal was rejected by Parliament last week, May said that she had heeded lawmakers' concerns over an insurance policy known as the "backstop" that is intended to guarantee there are no customs checks along the border between EU member Ireland and the U.K.'s Northern Ireland after Brexit.
818141325	8	May told the House of Commons that she would be "talking further this week to colleagues ... to consider how we might meet our obligations to the people of Northern Ireland and Ireland in a way that can command the greatest possible support in the House.
818141325	9	"And I will then take the conclusions of those discussions back to the EU."
818141325	10	The bloc insists that it won't renegotiate the withdrawal agreement.
818141325	11	The problem with the Northern Ireland "backstop" is that May and the E.U.
818141325	12	kicked the can down the road for a permanent solution.
818141325	13	Plan "B" isn't much better:
818141325	14	The backstop proposes to keep the U.K. in a customs union with the EU in order to avoid checks on the Irish border.
818141325	15	It is meant as a temporary measure that would last until a permanent solution is found.
818141325	16	But pro-Brexit U.K. lawmakers fear Britain could become trapped in it, indefinitely bound by EU trade rules.
818141325	17	Polish Foreign Minister Jacek Czaputowicz broke ranks with EU colleagues Monday by suggesting the problem could be solved by setting a five-year time limit on the backstop.
818141325	18	The idea got a cool reception.
818141325	19	Irish Foreign Minister Simon Coveney said that "putting a time-limit on an insurance mechanism, which is what the backstop is, effectively means that it's not a backstop at all."
818141325	20	The Labor Party is calling for a second referendum, which is political show and not a serious proposal – at least at this point.
818141325	21	A referendum couldn't be planned and executed by the March 29 deadline, and besides, there is no legal mechanism to withdraw Great Britain from Article 50 of the E.U.
818141325	22	charter – the legal basis they have invoked to withdraw from the E.U.
818141325	23	in the first place.
818141325	24	May is stuck and appears trapped between opposition E.U.
818141325	25	leaders, who are refusing to renegotiate the pact she agreed to in November, and members of her own party, who can't agree on how they should quit the E.U.
818141325	26	Looks as if May must go back to the drawing board.
