2631	1	Il governo piazza più di 22mila ucraini in scuole italiane
2631	3	Questo dimostra un totale disinteresse verso il bene dei bambini italiani. Fanno sempre l’interesse degli altri.
2631	5	Figuratevi cosa possono imparare loro, infilati nelle scuole di un Paese straniero e il danno che fanno, involontariamente, agli alunni italiani.
2631	7	Roba da pazzi. Non abbiamo nulla contro i bambini ucraini, ma ovviamente non conoscono neanche l’italiano. Che senso ha metterli nelle scuole? A ritardare l’apprendimento già scarso dei nostri alunni? E visto che vengono da famiglie no vax, loro non sono un problema?
2631	9	Dal 24 febbraio a oggi gli studenti ucraini accolti dal sistema scolastico sono 22.788, di cui 5.060 nella scuola dell’infanzia, dove non ci sono posti per i bambini italiani tanto che i genitori sono costretti a pagare rette sempre più alte nelle private, 10.399 nella elementare, 5.226 nella media e 2.103 nella superiore.
2631	11	Il delirante report contiene anche informazioni sulla distribuzione territoriale: il 21% è concentrato in Lombardia, il 12% in Emilia-Romagna e l’11% in Campania. Lo rende noto il ministero della non-Istruzione.
