833024696	1	2020 Democrats Demand Mueller Report’s Public Release
833024696	3	2020 Democrat presidential candidates reacted to the Friday delivery of special counsel Robert Mueller’s long-awaited report on possible collusion between the Trump campaign and Russia during the 2016 election to the Department of Justice, demanding that his findings be released immediately.
833024696	4	What the report says is confidential, however, Attorney General Bill Barr wrote in a letter to Congress that he might be able to summarize its “principal conclusions” as early as this weekend.
833024696	5	There was no indication of whether Trump himself, members of his family or former campaign advisers have been implicated in collusion with Russia or obstruction of justice, two of the main focuses of the investigation that has kept a cloud over Trump’s administration since he took office.
833024696	6	Read below a round-up of several 2020 Democrat presidential candidates’ statements on the report’s submission:
833024696	7	Release the Mueller report to the American people.
833024696	8	— Beto O'Rourke (@BetoORourke) March 22, 2019
833024696	9	Americans deserve to know the truth now that the Mueller report is complete.
833024696	10	The report must be released immediately and AG Barr must publicly testify under oath about the investigation's findings.
833024696	11	We need total transparency here.
833024696	12	— Kamala Harris (@KamalaHarris) March 22, 2019
833024696	13	As Donald Trump said, “Let it come out."
833024696	14	I call on the Trump administration to make Special Counsel Mueller's full report public as soon as possible.
833024696	15	No one, including the president, is above the law.
833024696	16	— Bernie Sanders (@BernieSanders) March 22, 2019
833024696	17	BREAKING: The Mueller report is complete.
833024696	18	Attorney General Barr must release the full report to the public.
833024696	19	The American people deserve to know the facts.
833024696	20	https://t.co/XdUaSw31Xu — Amy Klobuchar (@amyklobuchar) March 22, 2019
833024696	21	The American people deserve to know the full truth about Russia’s interference in our democracy.
833024696	22	The Special Counsel report must be publicly released in its entirety.
833024696	23	https://t.co/Q5OT6zPpOg — Julián Castro (@JulianCastro) March 22, 2019
833024696	24	Special counsel Mueller’s report should be made public without any delay.
833024696	25	The American people have a right to know its findings.
833024696	26	— Kirsten Gillibrand (@SenGillibrand) March 22, 2019
833024696	27	Attorney General Barr—release the Mueller report to the American public.
833024696	28	Now.
833024696	29	https://t.co/sqz8eoTjLD — Elizabeth Warren (@ewarren) March 22, 2019
833024696	30	This report should be made public immediately.
833024696	31	https://t.co/Q2JCExqYaA — Cory Booker (@CoryBooker) March 22, 2019
833024696	32	The American public deserves to know the contents of the Mueller Report.
833024696	33	Donald Trump and his Attorney General cannot be trusted to summarize or excerpt it accurately.
833024696	34	— Jay Inslee (@JayInslee) March 22, 2019
833024696	35	Further, Barr stated he would consult with his deputy, Rod Rosenstein, and Mueller to determine what else from the report can be released to Congress and the public.
833024696	36	“I remain committed to as much transparency as possible, and I will keep you informed as to the status of my review,” Barr said.
833024696	37	The filing of Mueller’s report came after weeks of intense speculation over whether Mueller, a former FBI director who has remained invisible while the investigation plodded ahead, would produce any indictments or evidence that would support the impeachment of Trump.A senior Justice Department official told US media Friday that after charging some 34 individuals, including six former Trump associates, Mueller’s team did not foresee recommending any further indictments..
833024696	38	Trump has repeatedly denied any collusion between his election campaign and Moscow, lashing out at the investigation as an “illegal witch hunt” run by a team of biased investigators.
833024696	39	The White House responded to Friday’s development by saying it welcomes the delivery of the long-awaited report.
833024696	40	“The next steps are up to Attorney General Barr and we look forward to the process taking its course,” Trump spokeswoman Sarah Sanders said in a statement.
833024696	41	“The White House has not received or been briefed on the Special Counsel’s report.”
833024696	42	The Agence France-Presse contributed to this report.
