833013834	1	Cable viewers digest Mueller news through Hannity, Maddow
833013834	3	For Sean Hannity, the 'witch hunt' was finally over.
833013834	4	Rachel Maddow considered it the start of something.
833013834	5	The diametrically opposed opinion hosts, who vie for the distinction of the most popular in cable news, were the windows through which many Americans digested Friday's news that special counsel Robert Mueller had concluded a nearly two-year investigation into Russian involvement in the 2016 election.
833013834	6	While his report, or even a summary, has not been released, television news still had hours to fill talking about it.
833013834	7	Fox News Channel's Hannity, a close Trump ally, focused on reports there will be no additional indictments stemming from Mueller's probe.
833013834	8	Fox News Channel's Hannity, a close Trump ally, focused on reports there will be no additional indictments stemming from Mueller's probe
833013834	9	'The left's favorite conspiracy theory is now dead,' Hannity said.
833013834	10	'It is buried, and there was no collusion, no conspiracy, no obstruction.
833013834	11	The witch hunt is over and there will be no further charges.'
833013834	12	He lamented that lives were ruined by the investigation and said that people who have been prosecuted or convicted had committed 'process crimes,' or crimes such as lying to investigators that stem from the very existence of the investigation.
833013834	13	The accusations against Trump were 'what we always said, a hoax, a lie conceived by hate.'
833013834	14	Hannity's Fox colleague Tucker Carlson stressed that the investigation had ended with no charges related to 'collusion' between President Donald Trump's campaign and the Russian government, the purported impetus for the probe.
833013834	15	'This investigation was always, from day one about collusion with Russia, about betraying this country.
833013834	16	They told us that for years,' Carlson said.
833013834	17	Carlson played a highlight reel of Democrats and pundits on other channels previously predicting imminent indictments of Trump and his family members.
833013834	18	None were indicted and Mueller reportedly doesn't recommend any further prosecutions.
833013834	19	'This has been a disaster.
833013834	20	How can we let the people who are responsible for it continue as if it never happened?'
833013834	21	he said, calling for the resignation of top Democrats who have pushed the collusion narrative.
833013834	22	Tucker Carlson stressed that the investigation had ended with no charges related to 'collusion' with Russia, the purported impetus for the probe
833013834	23	While Carlson suggested it was a night Americans 'should be celebrating the great news' that no crime was apparently found regarding collusion, Hannity said citizens should be outraged by the amount of time and money spent on the case.
833013834	24	He promised a reckoning in the coming weeks of politicians and media figures he claimed were guilty of a rush to judgment, and his first target was U.S. Rep. Adam Schiff, chairman of the House Investigations Committee.
833013834	25	'Schifty Schiff' read the words onscreen behind him.
833013834	26	'What is Maddow and all the other MSNBC conspiracy theorists, what are they going to ever do now?'
833013834	27	he said.
833013834	28	As he talked, Maddow was doing the same.
833013834	29	Unlike most evenings, when the two figures work in studios across Manhattan's Sixth Avenue from each other, Maddow had rushed to a studio in Tennessee where she had spent the day trout fishing.
833013834	30	'Finally, it happened,' she said.
833013834	31	'In terms of what that means and what Mueller has found, we know only the smallest little bits.
833013834	32	This is the start of something, not the end of something.'
833013834	33	In meticulous fashion, she detailed how the news that Mueller's investigation had concluded was reported and what a letter by Attorney General William Barr meant about what will be released to the public.
833013834	34	Rachel Maddow waited until 16 minutes into her program to discuss the reports that there will be no new indictments stemming from the probe
833013834	35	Democrats in Congress have already demanded the full report be released and that they see background materials; Maddow read a letter by Schiff about that on the air.
833013834	36	'Right now we mostly have just a ton of questions, as to what Mueller's report says, who gets to see it, who gets to decide who gets to see it and when,' she said.
833013834	37	It wasn't until 16 minutes into her program that she discussed the reports that there will be no new indictments stemming from the probe.
833013834	38	Many Fox News Channel guests, not just Hannity, focused on that detail on Friday evening.
833013834	39	Former Trump aide Corey Lewandowski called it 'a very clear signal that this entire hoax is over.'
833013834	40	Still, some Fox personalities, including Chris Wallace and Harris Faulkner, had to caution guests that Mueller's report hadn't been seen yet.
833013834	41	'To say that somehow this clears the president seems like the height of rushing to judgment,' Wallace said.
833013834	42	He dismissed the idea that those prosecuted had been charged with process crimes, saying they were very serious.
833013834	43	Meanwhile, on CNN, analyst and frequent Trump critic Jeffrey Toobin had an answer to colleagues who warned Trump and his supporters against prematurely celebrating.
833013834	44	While he isn't necessarily in the clear, the fact that the president's sons or son-in-law Jared Kushner were not indicted 'is unambiguously good news for him,' Toobin said.
