822220578	1	UK Labour Leader Corbyn Losing Support Over Failure to Take a Stance on Second Brexit Vote
822220578	3	Labour Leader Jeremy Corbyn leaves the Houses of Parliament in London on January 29, 2019.
822220578	4	(Photo by Jack Taylor/Getty Images)
822220578	5	London (CNSNews.com) – At the online Labour Party shop, you can still buy a spiffy T-shirt emblazoned with the picture of party leader Jeremy Corbyn, looking sober and determined.You can also purchase a Corbyn tote bag, mug, framed print – and the official Jeremy Corbyn pint glass, which can hold a liberal amount of beer.
822220578	6	However, these wares might not be flying off the virtual shelf so quickly these days, as a handful of polls indicate that Britain’s main opposition party is suffering as a result of its ambivalent stance towards a second vote on leaving the European Union.
822220578	7	The 69-year-old Corbyn, a veteran lawmaker on the party’s far left who beat the odds to become its leader in 2015, has long been popular among younger voters, who helped propel him to near victory in the 2017 general election.
822220578	8	Since then, he has refused to fully back calls for a second Brexit referendum, calling it merely one of the “other options” available, in case Britain’s planned withdrawal from the E.U.
822220578	10	next month goes badly.CCorbyn wrote a public letter to Prime Minister Theresa May this week, outlining what kind of agreement Labour would support with the E.U.
822220578	11	post-withdrawal.It included a customs union and a generally close relationship with the E.U., but was silent on the question of second referendum.
822220578	12	In a recent survey by Opinium, 22 percent of young Labour voter respondents indicated they could move away from the party on the grounds it hasn’t done enough to stop the planned exit.
822220578	13	A YouGov poll in December found similarly that support for Labour among 18 to 29-year-olds would drop from 60 to 33 percent if the party supported Brexit in any form.
822220578	14	British media outlets this week published parts of a leaked private report drawn up for a Labour-allied trade union, which reportedly described failure to oppose Brexit as more damaging to the party than its support for the Iraq war in 2003.
822220578	15	Meanwhile student leaders have warned that Labour is in danger of losing “millions” of voters.
822220578	16	A front-page advertisement in Corbyn’s local newspaper in London featured a call from more than 100 activists for a public vote.
822220578	17	Chris Stafford, an expert in British politics at the University of Nottingham, said this week Corbyn’s strategy has been to stay in the background while May’s Conservative Party – which has pro- and anti-E.U.
822220578	18	wings – has torn itself apart over Brexit.
822220578	19	But after waiting and biding his time, Stafford said, Corbyn is now under pressure to make his position clear.
822220578	20	“It is hard to criticize the government and say you would do it better while not offering a concrete alternative,” he said.
822220578	22	There has been public talk of a group of lawmakers breaking away from Labour, although Stafford said he doubted a new party would attract that many voters.“When it comes to election day most people stick with one of the bigger parties because they don’t want to ‘waste’ their vote on a different [smaller] one,” he said.
822220578	23	Stafford said while polls suggest Labour is losing support, Corbyn could regain popularity if he takes a stance that makes his party distinct from the Conservatives.
822220578	24	May has pledged not to run again for prime minister.
822220578	25	Stafford said that, while much will depend on who the Tories choose as their next leader, the complete disarray within the Conservative Party will help Corbyn look like a better option.
822220578	26	Call for U.S.-style primaries
822220578	27	This week, a prominent Labour activist called for American-style primaries to be introduced when it came to selecting candidates for parliament.
822220578	28	Aaron Bastani, a writer with links to Corbyn, tweeted that if people thought newly elected Rep. Alexandria Ocasio-Cortez (D-N.Y.) embodied excellent politics it was important to remember she got into office through a primary.
822220578	29	“We need the best leaders in parliament,” he tweeted.
822220578	30	“Primaries, along with mandatory reselection, is how.”
822220578	31	Currently, candidates in both the Labour and Conservative parties are selected through local party organizations, often with input from the party’s national office.
822220578	32	In 2009, in what was billed as a first, a physician named Sarah Wollaston was selected as a Conservative Party candidate through an open primary held through the mail.
822220578	33	She won, and now sits in the House of Commons representing Totnes in southwest England.
822220578	34	Wollaston said Thursday that the experiment allowed local voters to choose from a wide range of candidates, both experienced politicians and newcomers.
822220578	35	Non party members were allowed to participate as well, in a constituency that has a solid tradition of electing Conservatives.
822220578	36	“In a so called safe seat, open primaries give voters the chance to select a candidate who, if subsequently elected, would at least be nearer their own political views,” she said.
822220578	37	“But the postal method is expensive and I think this has made it difficult to sustain.”
