816720060	1	Brexit: Goodbye United Kingdom, hello dis-United Kingdom
816720060	3	To grasp the real meaning of Brexit is to understand the history of a state born in mercantilism and sustained by centuries of empire and colonialism.
816720060	4	Chaos everywhere, consensus nowhere has and continues to define Britain’s stalling and tortuous attempt to depart the EU in an orderly fashion.
816720060	5	Such chaos should come as no surprise, however, because more than a harbinger of Britain’s departure from the EU, Brexit is a harbinger of the break-up of the UK.
816720060	6	Let me explain.
816720060	7	The United Kingdom of Great Britain and Northern Ireland, to give the UK its Sunday name, is the epitome of an artificial state.
816720060	8	It was and remains the product of the grafting together of divergent cultures, histories and national identities.
816720060	9	At inception, this grafting together was undertaken not in the interests of its peoples but in the interests of national elites eager to take advantage of the commercial opportunities of a unified polity with added manpower and resources in an age of empire.
816720060	10	The venality, greed and corruption of the Scottish ruling class in the late 17th- early 18th century delivered the Scottish people into the arms of the union with England without their support, establishing thereby the Kingdom of Great Britain.
816720060	11	This was reflected in the social unrest and riots that ensued in Scottish towns and cities both during the negotiations that brought into being the 1707 Act of Union, and upon its passage.
816720060	12	Read more
816720060	13	For the ruling elites of both Scotland and England the union of both parliaments into one had demonstrable commercial and strategic benefits.
816720060	14	The former had been left bankrupt after Scotland’s failed attempt at establishing its own overseas colony in Darien, Central America (modern day Panama) in the late 17th century.
816720060	15	In order to forestall national immiseration the need to gain access to England’s overseas colonies was thereafter considered essential.
816720060	16	Meanwhile the English were eager to prevent the possibility of Scotland being used as a staging ground for an invasion from the north by the French in the context of the War of the Spanish Succession (1701-14).
816720060	17	Wales, the third nation that makes up the UK, had already been merged with England in 1536.
816720060	18	Ireland on the other hand was a subjugated English (latterly British) colony, and was officially brought into the orbit of what would then be known as the United Kingdom of Great Britain and Ireland in 1801.
816720060	19	In 1922, after a prolonged national liberation struggle in Ireland, the 26 counties that make up today’s Republic of Ireland achieved dominion status before winning full independence in 1948, while the remaining six counties that make up the entire island, or Ireland, were partitioned to become what is now Northern Ireland: hence the United Kingdom of Great Britain and Northern Ireland of today.
816720060	20	This necessary historical detour out of the way, here is where things start to bear relevance to Brexit.
816720060	21	An unintended consequence of the Industrial Revolution that saw Britain (UK) go on to forge an empire which at its height covered a quarter of the globe, was the forging of a unified working class whose unity transcended national, cultural and regional differences.
816720060	22	This class unity was the product of the country’s heavy industries – coal mining, steel, shipbuilding, etc.– and was expressed in common economic interests and struggles against a common enemy, the bosses and owners of those industries, in the context of the trade union movement..
816720060	23	It also began to manifest politically with the formation of the Labour Party at the start of the 20th century.
816720060	24	In tandem, forged over time, was a British national identity nourished by the countless wars the state’s ruling elite unleashed and waged over the centuries of an empire that existed not to spread civilization and modernity to the ‘dark peoples’ of the planet, as officially claimed, but as a juggernaut of exploitation, subjugation and oppression.
816720060	25	In those countless colonial wars working class men were used as cannon fodder in a dynamic that continues to the present day.
816720060	26	Read more
816720060	27	Margaret Thatcher destroyed this material basis of working class unity across the UK in the 1980s.
816720060	28	Her free market counter-revolution and resulting deindustrialization of the nation’s economy turned Britain into what it is today – a service economy underpinned by financialized capital.
816720060	29	The country’s trade union movement, which once wielded considerable economic and political clout, is but a shadow of its former self as a consequence, while the Labour Party was gutted of its founding principles by Tony Blair and his execrable centrist crew in the 1990s and on into the first decade of the noughties.
816720060	30	It is the remnants of this Blairite crew within the Labour Party who have and continue to be engaged in a concerted effort to undermine the party’s current socialist leader Jeremy Corbyn.
816720060	31	Such people, working alongside a reactionary Tory establishment, should be careful what they wish for.
816720060	32	Because in 2019 it is only Corbyn’s socialist program, offering economic and social transformation, that provides any hope of repairing the regional, national and cultural fault lines that correspond to the breakdown of the 2016 EU referendum vote.
816720060	33	The post-industrial north and midlands of England, parts of the country virtually untouched by investment and left without hope after being decimated by Thatcher, voted overwhelmingly for Brexit in a veritable scream from the bowels of austerity Britain.
816720060	34	Every one of Scotland’s 32 local authorities, meanwhile, voted Remain.
816720060	35	Wales, particularly post-industrial south Wales, voted for Brexit, while a five percent majority in Northern Ireland voted Remain.
816720060	36	It confirms that what was once the United Kingdom is now the dis-United Kingdom, with those previously mentioned national and regional differences informing its peoples’ identities and worldview over the identity of class to an extent previously unseen.
816720060	37	Brexit in this context is a sideshow, a pantomime largely being played out in parliament and the centrist mainstream.
816720060	38	As Karl Marx put it: “To call upon people to give up their illusions about their condition, is to call upon them to give a condition that requires illusions.”
816720060	39	The illusion that Brexit is actually relevant to the needs of those who’ve seen their lives devoured by the beast of neoliberalism and bludgeoned by austerity must soon give way to the unvarnished truth that the UK as we know it, is past its sell-by date
816720060	41	“A reactionary,” the great postwar Labour figure Nye Bevan once said, “is a man walking backwards with his face to the future.” Surveying a political class presently engaged in ripping itself apart over Brexit, who could argue otherwise?
816720060	42	Think your friends would be interested?
816720060	43	Share this story!
