813953435	1	Majority of Tory voters want their MPs to back Theresa May's deal
813953435	3	Conservative voters want their MPs to back Theresa May's Brexit deal, a major survey reveals today.
813953435	4	In a rare glimmer of hope for the Prime Minister, the poll finds that Tory voters back her deal by 46 per cent to 38.
813953435	5	While a majority of voters across all parties (53 per cent) said Mrs May had failed to get a good deal – they also believed any alternative leader would have fared 'just as badly' in negotiations with the EU.
813953435	6	Tory voters back Theresa May's deal by 46 per cent to 38, according to a new survey
813953435	7	But an accompanying survey of Conservative Party members paints a far gloomier picture, with activists opposed to the deal negotiated by their own leader by 59 per cent to 38.
813953435	8	The research, co-ordinated by Professor Tim Bale of London's Queen Mary University, also reveals that Tory members are convinced a no-deal Brexit would be better than Mrs May's plan.
813953435	9	More than half of members polled (57 per cent) said their first preference was to leave with no deal.
813953435	10	Dublin 'mega-money' warning over Brexit Ireland last night warned Brussels it will demand 'mega-money' in the form of aid if Britain leaves the EU without a deal.
813953435	11	Ireland's agriculture minister said a no-deal Brexit would have a crippling effect on his country's agriculture sector – which depends heavily on trade with the UK.
813953435	12	He said his country's farmers had been hit by the devaluation of sterling since Brexit, but said: 'A hard Brexit would make that look like a teddy bears' picnic.'
813953435	13	He added: 'You're looking at hundreds of millions here.
813953435	14	Between the beef industry and the fishing industry we're talking mega-money.'
813953435	15	EU diplomats fear this could spark claims by other countries likely to be hit by a no-deal Brexit.
813953435	16	The figure is more than double the 25 per cent of the population as a whole who would plump for no deal.
813953435	17	The hardline stance of most Tory members will dismay Mrs May's allies, who had hoped that activists would use the Christmas break to pressure their rebellious MPs to fall into line.
813953435	18	But having the support of Tory voters – who will decide the party's electoral fate – does provide a crumb of comfort.
813953435	19	Downing Street will also be encouraged by a finding that 40 per cent of members said their second preference was to leave with Mrs May's deal, suggesting they could live with the compromise.
813953435	20	And the study found that if Mrs May's deal was pitted directly against the option of Remain in a second referendum, Tory members would grudgingly back her plan by 57 per cent to 18.
813953435	21	The PM was forced to postpone a vote on her Brexit deal last month after Tory whips warned she faced a crushing defeat, with more than 100 of her own MPs threatening to vote against.
813953435	22	The crunch vote is now due to be held on or around January 15.
813953435	23	But there are few signs that Eurosceptic Tories are having a change of heart.
813953435	24	A senior source acknowledged that, with just ten days to go before the vote, the situation was 'still looking pretty challenging'.
813953435	25	Professor Bale said the findings indicated that activists were 'if anything, even less impressed than MPs' with her deal.
813953435	26	Former leader Iain Duncan Smith said the new polling made it clear Mrs May's deal was unacceptable to the party.
813953435	27	There are few signs that Eurosceptic Tories are having a change of heart, according to a new survey
813953435	28	'If No 10 thought the Christmas and New Year break would make a difference then they have been proved wrong,' he said.
813953435	29	'The pressure coming from members is to kill off this deal, not support it.'
813953435	30	With 83 per cent of members opposed to a second referendum, it suggests any future leadership candidate proposing one would lose.
813953435	31	The research was produced by the Party Members Project funded by the Economic and Social Research Council.
