832940138	1	Trump faces Mueller report in Mar-a-Lago bubble
832940138	3	President Donald Trump gives the thumbs-up as he arrives on Air Force One on March 22 at Palm Beach International Airport, en route to Mar-a-Lago.
832940138	4	By late evening, he had resisted tweeting once about Robert Mueller or Russia.| AP Photo/Carolyn Kaster White House Trump faces Mueller report in Mar-a-Lago bubble he president kicked off a weekend at Mar-a-Lago with a speech at a fundraising dinner but few words about special counsel Robert Mueller.
832940138	5	PALM BEACH, Florida –When the news finally broke that Robert Mueller had completed his investigation, President Donald Trump was cloistered in the safe space of his private club here, surrounded by senior aides and the diehard supporters who pay big bucks to catch a glimpse of him..
832940138	6	As Washington melted down over the long-awaited news 1,000 miles away, the fierce Trump defenders here girded for an epic battle.
832940138	7	Story Continued Below“He seems to be able to deal with most of the stuff that most people can’t.
832940138	8	I am convinced that he can weather anything he’s put through,”” said Joyce Lewis Bass, a board member of the Boca Raton Regional Republican Club.
832940138	9	On Friday night, just feet from where Trump and his family were having dinner, local Republicans were holding a fundraising dinner.
832940138	10	The logo for the event: a five-dollar bill featuring a MAGA-hat clad Abraham Lincoln.
832940138	11	Organizers had held out hope that Trump would make an appearance at the event, and White House officials initially signaled he wouldn't attend, saying he planned to spend his night on Mar-a-Lago’s patio with First Lady Melania Trump, their son Barron, and Melania Trump’s parents.
832940138	12	poster="http://v.politico.com/images/1155968404/201903/3951/1155968404_6013529254001_6013519949001-vs.jpg?pubId=1155968404" true
832940138	13	But Trump couldn't resist.
832940138	14	The president spoke to the cheering crowd for about two minutes, with the first lady standing beside him on stage, according to a video of his remarks obtained by POLITICO.
832940138	15	He said nothing about the Mueller news.
832940138	16	Instead, he thanked “the legendary Pam Bondi,” Florida’s former attorney general who was honored at the dinner, and marveled at the first lady’s poll numbers.
832940138	17	The president also cracked a joke about the keynote speaker, Sen. Lindsey Graham of South Carolina.
832940138	18	“If Lindsey’s speaking, I want to come down here,” Trump said, “for two reasons.
832940138	19	No.
832940138	20	1: he’s a great speaker.
832940138	21	And No.
832940138	22	2, I know if I’m here, he’s not going to say anything bad about me.”
832940138	23	The dinner capped another whirlwind day for Trump.
832940138	24	As they braced for the report throughout the day Friday, Trump and his team tried to convey an image of a president putting his head down and focusing on the job. Aides arranged a meeting with the leaders of five Caribbean countries, the president announced his pick to join the Federal Reserve and he bragged about the defeat of the Islamic State.But Trump quickly overshadowed those efforts, issuing a confusing tweet that implied he was undoing North Korea sanctions that his administration had just put in place.
832940138	25	The tweet caught many in the White House by surprise and the administration later tried to clarify, insisting he was referring instead to not-yet-imposed sanctions.
832940138	26	Ask us anything about the Mueller report We’re hosting a live chat on Reddit with former federal investigators who worked on some of the biggest cases since Watergate and our senior reporter, Darren Samuelsohn.
832940138	27	Join us on Monday, March 25 at noon ET.
832940138	28	Submit your questions in advance here.
832940138	29	Trump’s Islamic State victory lap was also quickly undercut.
832940138	30	At the end of the flight to Florida, White House press secretary Sarah Huckabee Sanders entered Air Force One’s press cabin wielding a map.
832940138	31	ISIS no longer holds any territory in Syria, she declared, without offering any other details.
832940138	32	Trump later held up the same map, at one point displaying it upside down, boasting about his success in diminishing the terrorist group.
832940138	33	“So here is ISIS on Election Day.
832940138	34	Here's ISIS right now,” he said.
832940138	35	The only problem: the graphic didn’t compare ISIS’s current territory to Election Day in 2016.
832940138	36	According to photographs captured by reporters, it compared the territory to 2014, undercutting the president’s about turning things around immediately after taking office.
832940138	37	“You guys can have the map.
832940138	38	Congratulations.
832940138	39	You’ll spread it around,” Trump told reporters, handing them the document.
832940138	40	Sanders quickly snatched up the paper.
832940138	41	Trump tried to project calm throughout the day, distancing himself from the image of a man about to suffer a political blow.
832940138	42	On his arrival at the airport here, he delighted in the adoration of his supporters, signing a red “Make America Great Again” hat.
832940138	43	But there were more subtle signs that the White House — like all of Washington — had assumed crash position ahead of the transmittal of Mueller’s report to Attorney General Bill Barr, which happened at 5pm, shortly after a sudden blinding hailstorm tore through an already-anxious capital: White House counsel Pat Cipollone joined the president at Mar-a-Lago, according to a person familiar with the matter, as did Sanders, who doesn’t always travel with the president on weekend trips.
832940138	44	“We'll see what happens,” Trump had said early in the day as he departed for his weekend in Florida.
832940138	45	“There was no collusion.
832940138	46	There was no obstruction,” he repeated once again.
832940138	47	“Everybody knows it.
832940138	48	It's all a big hoax.
832940138	49	It's all a witch hunt.”
832940138	50	But he didn’t mention Mueller for the rest of the day.
832940138	51	Though the president is often eager to field reporters’ questions, he ignored journalists as he sat alongside the Caribbean leaders, under two gold and crystal chandeliers.
832940138	52	For once, it seemed, Trump felt he had nothing more to say.
832940138	53	He was content to wait.
832940138	54	By late evening, he had resisted tweeting once about Mueller or Russia.
832940138	55	Friday's fundraising dinner was hosted by the Palm Beach County Republicans.
832940138	56	Tickets for the fundraiser started at $375, with sponsorship packages going as high as $25,000.
832940138	57	On Friday afternoon, a person helping to organize the dinner predicted Trump would attend, especially given that the event was held just feet from the room where Trump huddled with the Caribbean leaders.
832940138	58	“We very much expect the president to come,” the person said.
832940138	59	“It’s in his house.”
832940138	60	The mood at Mar-a-Lago Friday afternoon was low-key, despite the furor over the Mueller developments swirling in Washington.
832940138	61	A nearby parking lot was packed with luxury cars, including a bright yellow Porsche and a chrome Rolls Royce.
832940138	62	A woman in the parking lot sported a black fur coat in the nearly 75-degree weather.
832940138	63	Mueller’s actual conclusions remain under lock and key at the Justice Department.
832940138	64	But supporters here seemed unfazed by the report’s imminent disclosure.
832940138	65	Asked if she’s certain the president can overcome the Mueller probe’s findings, Toni Holt Kramer, a Mar-a-Lago member and founder of the Trumpettes USA, a Trump fan club, said via email, “Positive!!
832940138	66	!”
832940138	67	Marc Caputo and Anita Kumar contributed to this story.
