817190270	1	"I Won’t Lie, I Did Cry."
817190270	3	A Briton Rejoices At BREXIT's Triumph | Articles
817190270	5	When I woke up on that warm 24th of June, at six o’clock, other than my regular neck ache, I felt something, a sense of disappointment.
817190270	6	I knew Leave had lost the referendum.
817190270	7	The exit polls had said that leave would lose.
817190270	8	The bookies had said we would lose.
817190270	9	My natural-born pessimism had seeped in.
817190270	10	Of course, I was in bed at this time.
817190270	11	I was left to my thoughts.
817190270	12	My own cynical thoughts.
817190270	13	I hadn’t actually bothered to look at the news.
817190270	14	That was until my sister came screeching in exclaiming, “We are leaving the EU!
817190270	15	You won!”
817190270	16	I had to make sure.
817190270	17	“It couldn’t be,” I thought.
817190270	18	“The people taking a stand?
817190270	19	No chance.
817190270	20	She must be pulling my leg.”
817190270	21	But lo and behold, it was true.
817190270	22	Utterly.
817190270	23	52% for Leave to a 48% for Remain.
817190270	24	I won’t lie, I did cry.
817190270	25	I’m not ashamed of it either.
817190270	26	I’m rarely made happy by the political discourse, but this was the rare exception.
817190270	27	I had actually had a sense of pride for the nation and the people who finally took a stand against its masters.
817190270	28	Lying there on my bed, since the power of this event had stunned me from getting up, I started to reflect on how far the movement to officially leave the EU had come to pass.
817190270	29	I recalled last year, at the start of the referendum campaign, right after the general election.
817190270	30	I was in a conference hall, partly funded by the EU, for a rally on our “Future Relationship with the European Union”.
817190270	31	It was a UKIP event.
817190270	32	I found the event powerful.
817190270	33	The smell of smoke filled the room.
817190270	34	Reporters were standing by.
817190270	35	It was full to the brim of people, young and old.
817190270	36	Nigel Farage, the man to thank for bringing us this referendum in the first place, gathered to do his speech.
817190270	37	Playing the song The Final Countdown by the band Europe, as he came down.
817190270	38	The crowd was in rambunctious cheers and applause as he talked.
817190270	39	They loved it.
817190270	40	As did I. I never considered myself a member of any movement until that day.
817190270	41	I loved the power it invoked in me.
817190270	42	I was with real people who truly believed in what they said.
817190270	43	They didn’t care about Political Correctness, they believed in doing what was right.
817190270	44	My mind fast-forwarded to one of the days where I leafleted in a city center.
817190270	45	In my gut, from the looks people gave me, the discussion with people on the busy street, even the diversity of the other leafleters, I felt that we were going to vote for Brexit.
817190270	46	Leave had the arguments and it had the people behind it.
817190270	47	Remain had University students prepping themselves for a degree in Politics.
817190270	48	I ignored my gut until the morning of the 24th and went with the bookies.
817190270	49	A wise choice for most instances.
817190270	50	But I was wrong, and I’m glad of it.
817190270	51	The white working class was truly key to this referendum, though, rejecting the usual, Center-Left consensus from their natural party, the extremely pro-European Labour party.
817190270	52	They picked the chance of controlling their own borders as they thought for the future of their own kin.
817190270	53	Only four of the constituencies in the poorest section of England, and Labour heartland, the North East, voted narrowly for a Remain vote, compared to the 11 constituencies that voted to leave.
817190270	54	Things were similar in the Labour heartland of Wales.
817190270	55	[EU referendum results and maps: Full breakdown and find out how your area voted, by Malcolm Coles and Ashley Kirk, Telegraph (UK) June 24, 2016]
817190270	56	The Left wasn’t the only one shook up by the rebellion.
817190270	57	Real Tories came out and defended their sovereignty in the south.
817190270	58	They rejected the “Great” deal made by Prime Minister David Cameron, who can now be seen to be a political failure—a deal that even Cameron’s own MPs had a hard time praising.
817190270	59	[EU deal: What David Cameron asked for... and what he actually got, by Peter Foster,Telegraph (UK), June 14, 2016 ] Though usually more loyal when it comes to Conservative policies, they decided they had had enough and voted with their hearts.
817190270	60	These people knew how the EU had harmed them.
817190270	61	They were not blind sheep who blindly follow their party’s whims.
817190270	62	They ignored the fear peddled by Obama, Cameron, Juncker, and every other “enlightened” expert.
817190270	63	They knew that none of those people lived or had even been to the areas affected by the EU.
817190270	64	The working class saw the EU applied, and they didn’t like it.
817190270	65	Nor did the real Tories in the south.
817190270	66	The economic arguments used by Remainers, meant and mean nothing if their own quality of life was being squandered because of cheap labor and living in perpetual fear from the dangerous effects of immigration.
817190270	67	When Britain joined what was then deceptively European Economic Community in 1973, Britain was still reeling over a lost empire.
817190270	68	We were stranded, and we stumbled onto what seemed like something we could latch onto.
817190270	69	However, that quickly changed.
817190270	70	The EEC became a unionist, empire-building political project.
817190270	71	Enoch Powell, famous for his “Rivers of Blood” speech on immigration, knew this.
817190270	72	He cost the Tory Party, which had he quit dramatically, the election by telling supporters to vote Labour in 1974, because it was offering a referendum on membership in the EEC.
817190270	73	Unfortunately, many didn’t see the upcoming globalist travesty that Enoch envisioned and in the 1975 referendum Britain gave a resounding “Yes” to the European Union (as it renamed itself, now frank about its political goal).
817190270	74	They never knew what they were truly getting into.
817190270	75	The small print was too tough to see.
817190270	76	The back door was closed on them.
817190270	77	But now that they have seen the EU’s aims, and actually feel the impact that the EU can have on the “serfs”, they gave Merkel the rightfully deserved two fingers (in America this would be one finger) to her, her bureaucrats, and her project.
817190270	78	This was a triumph for the nationalist movement and for nationalism in all countries—whether or not people who voted realize this.
817190270	79	This is bringing independence to the natural borders of nations.
817190270	80	You cannot merge different cultures and races in a top-down system centered around a utopian vision.
817190270	81	A nation can only truly look after its own.
817190270	82	Europe is not a nation, nor should it be treated as such.
817190270	83	After our historic vote, real nations, places like Holland, Denmark, and even France, are already asking for their national identity back from the globalists in Brussels and Germany in similar “Brexit” referendums.
817190270	84	This is not perfection, as I might seem to be portraying it.
817190270	85	Problems will be encountered.
817190270	86	We need a democratically-elected government that actually will control its own borders, instead of that we have currently.
817190270	87	Much of the damage is already done.
817190270	88	Instead of having a neoliberal economic policy, we need an economic policy that actually cares about Britain’s own industries.
817190270	89	In addition, we need a foreign policy, not made by NATO and the neocons of Washington DC.
817190270	90	The barrier of the EU would always prevent us from ever changing those matters.
817190270	91	Our own major parties would like keep this up also.
817190270	92	We can get rid of them though.
817190270	93	We could not get rid of Brussels.
817190270	94	Leaving the European Union is the right direction.
817190270	95	It is not the right destination for making Britain truly, great.
817190270	96	Nationalists should praise what has happened to the UK for what it is; a sign of the shifting tide of opinion that has been constantly ignored by elite opinion.
817190270	97	Hopefully Brexit will not be the last of the exodus.
817190270	98	The European Union has gone onto too long.
817190270	99	It is high time real nations broke free from its shackles.
817190270	100	Adam Young[Email him] is a writer, blogger, editor, and proud Briton
