817449755	1	Derbyshire Cheers For Hard Brexit | Blog Posts
817449755	3	The fuss about Brexit over in the U.K. is of only indirect interest to us Americans, but it does show another aspect of the slow political revolution taking place all over the Western world.
817449755	4	As our own correspondent Robert Henderson posted here at VDARE.com on Thursday, the Brexit vote of June 2016—the vote by British people to leave the European Union—was of a piece with the election of Donald Trump five months later.
817449755	5	Both events represented a revolt by ordinary citizens against entrenched Deep State elites and their media, corporate, and academic shills.
817449755	6	Two-plus years on, it's clear on both sides of the Atlantic that those entrenched elites were more entrenched than the revolutionaries supposed.
817449755	7	Both in the U.S.A. and Britain, they have put up a mighty resistance to the loss of their power and influence.
817449755	8	So which revolution is doing better, ours or theirs?
817449755	9	On the evidence of this week, I'd have to say Britain's is ahead.
817449755	10	British Prime Minister Theresa May had negotiated a deal with the EU, a package of conditions under which Britain could finally leave the EU on March 29th.
817449755	11	It was a lousy deal for the Brits, keeping the nation chained to the EU bureaucracy in a hundred ways.
817449755	12	"BINO" I called it back in December—Brexit in Name Only.
817449755	13	Robert Henderson prefers BRINO, and I'm okay with that: the perception is the same.
817449755	14	Tuesday this week Britain's parliament finally got to vote on Mrs May's deal.
817449755	15	They voted it down.
817449755	16	That generated a mini-crisis as the opposition party in parliament called a vote of no confidence in the Prime Minister.
817449755	17	That vote, however, went Mrs May's way, so she remains in power.
817449755	18	But since parliament's rejected her deal, what are the terms under which Britain will leave the EU on March 29th?
817449755	19	A strong possibility now is: no terms.
817449755	20	This is the so-called "hard Brexit."
817449755	21	Britain just walks out, leaving the bureaucrats and businessmen to sort things out among themselves as best they can.
817449755	22	There would be chaos and confusion; but, as Adam Smith said, there's a deal of ruin in a nation.
817449755	23	The Brits have faced far worse within living memory.
817449755	24	When the dust settled they'd have their sovereignty back, and could set their own laws in their own parliament for their own people again.
817449755	25	That would be worth a bit of chaos.
817449755	26	A great many Brits agree.
817449755	27	Here's a sound clip from last week.
817449755	28	It's from a weekly show on BBC-TV called Question Time, in which a panel of pundits and politicians takes questions from a studio audience.
817449755	29	This being the BBC the panels are slanted left-liberal, making it usually a pretty dull show.
817449755	30	This Thursday's Question Time panel, however, included political journalist Isabel Oakeshott.
817449755	31	Following those earlier events of the week, the question of course came up: Is there now any alternative to a "hard Brexit"?
817449755	32	Ms Oakeshott took the question.
817449755	33	Here's what she said:
817449755	34	Oakeshott: Well, the answer … look, I can save everybody a lot of time here …
817449755	36	Emcee: Oh, do!
817449755	37	Because it's been two years, so, so, …
817449755	39	Oakeshott: The short answer is: No, there isn't.
817449755	40	And that is why it seems to me the only option for Theresa May now—and I'm going to admit that it is a sub-optimal position—is to walk away.
817449755	41	That is all she can do.
817449755	43	Emcee: So to leave with no deal.
817449755	45	Oakeshott: Yes, absolutely, because that isn't … (Drowned out by prolonged cheering and applause from the studio audience.)]
817449755	46	Just listen to that studio audience!
817449755	47	Hard Brexit?
817449755	48	They love it!
817449755	49	The TV coverage is even more telling.
817449755	50	They're happy, with the happiness of people who just heard an authority figure—Ms Oakeshott is the privately-educated offspring of an upper-class family—an authority figure taking their side against the elites.
817449755	51	I can't forbear adding that Question Time is a peripatetic show, set in a different city each week.
817449755	52	Thursday's show was set in Derby, which is of course the capital city of Derbyshire …
817449755	53	It's worth adding also that the Brits seem still to have some of their resourcefulness in the face of impending chaos.
817449755	54	The London Daily Mail, January 18th, reports a severe shortage of warehouse space in Britain on account of British firms stockpiling all kinds of goods, including food.
817449755	55	The firms fear that chaos over the absence of customs rules at ports of entry following a hard Brexit will slow down or stop entry of goods.
817449755	56	That's private action, not government action; but I'm reminded of Margaret Thatcher and the crisis with Britain's coal miners in the early 1980s.
817449755	57	When the miners' union leaders first started acting up, Thatcher appeased them with soft talk.
817449755	58	Meanwhile, behind the scenes, she called in her Energy Secretary Nigel Lawson and told him to start stockpiling coal.
817449755	59	When the stockpile was big enough, Thatcher turned on the miners and confronted them boldly, from a position of strength.
817449755	60	She was a smart lady, and that's smart government.
817449755	61	You listening, Mr President?
