824684605	1	Seven U.K. Labour Lawmakers Quit Over Jeremy Corbyn's Handling of Brexit and Anti-Semitism
824684605	3	LONDON—Britain’s nervous breakdown in the wake of the vote to leave the European Union has mostly been felt by Theresa May and lawmakers in her Conservative party, who have been at each other’s throats for two years as they stumble towards Brexit.
824684605	4	But the main opposition party—Jeremy Corbyn’s Labour—has also been coming apart at the seams.
824684605	5	That became even clearer Monday when seven of its lawmakers, unable to back their left-wing leader on Brexit or the way he’s dealt with anti-Semitism in the party, decided to quit.
824684605	6	Some of the reasons given by the seven members of parliament [MPs] at their dramatic press conference were similar to the bitter arguments which have seen Conservative party politicians angrily fighting amongst themselves.
824684605	7	Namely, a complete disagreement with their leader on how to go forward with the Brexit referendum result.
824684605	8	One of the seven, Chris Leslie, accused Corbyn of a “betrayal” on Europe by helping to enable May's vision of Brexit and refusing to back a second referendum on the issue.
824684605	9	Although he claims he voted to stay in the EU, Corbyn has been a long-time critic of the bloc and many in his party suspect he’s quite happy to see Britain leave.
824684605	10	But it’s the problems unique to Labour that appear to have made the seven most angry and led to the biggest split in the party since the early 1980s.
824684605	11	Luciana Berger, a Jewish MP who’s been a frequent target of anti-Semites in the party, said that she'd come to the “sickening conclusion” that the party had become “institutionally anti-Semitic.”
824684605	12	The Labour party has been plagued by anti-Semitism incidents since Corbyn became leader with the backing of tens of thousands of new left-wing members.
824684605	13	A string of incidents last year saw a joint editorial published by the country’s three most prominent Jewish newspapers claiming that a government led by him would pose an “existential threat” to Jews living in Britain.
824684605	14	Leslie agreed with Berger, saying that Labour been “hijacked by the machine politics of the hard left,” while another of the seven, Mike Gapes, declared angrily: “I am sickened that Labour is now perceived by many as a racist, anti-Semitic party.”
824684605	15	Berger said she’d become "embarrassed and ashamed" to stay in the party, and added that she felt like she was “leaving behind a culture of bullying, bigotry and intimidation.
824684605	16	I look forward to a future serving with colleagues who respect each other.”
824684605	17	How many of her former colleagues might join her is unclear.
824684605	18	Several MPs who’ve been severely critical of Corbyn since he became leader have issued statements saying that they still think trying to change the party from within is the best way forward, but that Corbyn has to see Monday’s resignations as the final warning.
824684605	19	The seven also made a clear appeal to members of other parties who are uncomfortable with their leaders to join them, with some Conservatives appearing to be open to the idea.
824684605	20	The group, and whoever else joins it, will now sit in House of Commons as a loose group of independent members of parliament rather than as a new party.
824684605	21	The seven rejected comparisons with the Social Democratic Party [SDP] which broke away from the Labour Party in the early 1980s but eventually merged with the Liberal Party.
824684605	22	The SDP is often reviled in Labour history for splitting left-wing voters and helping Margaret Thatcher and the Conservative dominate British politics for a decade.
824684605	23	Another one of the seven, one-time Labour leadership contender Chuka Umunna, declared at the press conference: "Politics is broken.
824684605	24	It doesn't have to be this way.
824684605	25	Let's change it.”
824684605	26	It’s obvious to anyone with a passing interest in British politics that the current system is broken.
824684605	27	Whether this breakaway can fix it, or indeed if anything can, is far from clear.
