832956618	1	Mueller Is Done, but the Trump Investigations Are Just Heating Up
832956618	3	The Russia investigation is over.
832956618	4	Or is it?
832956618	5	Attorney General William Barr has notified Congress that Special Counsel Robert Mueller has “concluded his investigation of Russian interference in the 2016 election and related matters,” as required under Justice Department regulations.
832956618	6	Mueller has submitted to Barr a confidential report of “prosecution or declination decisions he has reached,” and Barr has promised to review the report and advise Congress of Mueller’s “principal conclusions” as soon as this weekend.
832956618	7	Barr further stated that he would determine whether other information can be released to Congress and the public, committing to “as much transparency as possible.”
832956618	8	So what comes next?
832956618	9	It appears that Mueller and a small staff will close up shop in the near future.
832956618	10	But that does not mean that the investigation into President Donald Trump is over.
832956618	11	Depending on the contents of Mueller’s report, Congress may have some work to do.
832956618	12	Mueller’s original mandate required him to comply with all policies of the Justice Department.
832956618	13	It seems likely, then, that he would adhere to the DOJ opinion that a sitting president cannot be indicted.
832956618	14	If so, then even if Mueller found evidence of conspiracy between Trump and Russia to defraud the United States by interfering with the fair administration of elections (sometimes referred to as “collusion”), he would refrain from filing an indictment, and instead provide his findings to members of Congress for them to consider whether impeachment is appropriate.
832956618	15	If that is the case, then Congress’s work will just be beginning.
832956618	16	Other prosecutors may also have more work to do.
832956618	17	During the course of his investigation, Mueller has kept a narrow focus on his own mission and farmed out related cases to at least four U.S. Attorney’s Offices.
832956618	18	Those investigations remain ongoing.
832956618	19	It is possible that Mueller has handed off additional investigations in which charges have not yet been filed, and so would be unknown to the public.
832956618	20	For example, the investigation of fraud and campaign finance violations against former Trump attorney Michael Cohen was handed off to the U.S. Attorney’s Office for the Southern District of New York.
832956618	21	Cohen pleaded guilty in that case and was sentenced to three years in prison, but it appears that work on that case continues.
832956618	22	Earlier this week, a judge approved the release of redacted search warrants in the Cohen case, permitting prosecutors to keep more than 18 pages of text from public disclosure.
832956618	23	The redacted pages appeared under the heading “Illegal Campaign Contribution Scheme.” The court stated that redaction was necessary because “disclosure would jeopardize an ongoing investigation.” This language suggests that the work of SDNY is far from over.
832956618	24	Subjects of the investigation could include Donald Trump, Jr., who reportedly signed at least one of the checks that were provided to Cohen as reimbursement for his illegal payments to silence woman from publicly accusing Trump of extramarital affairs .
832956618	25	Reports have indicated that Allen Weisselberg, the chief financial officer for the Trump Organization, has received immunity in exchange for his cooperation.
832956618	26	Even if Mueller’s work is done, the work of the SDNY continues.
832956618	27	In addition to SDNY, other U.S. Attorney’s Offices are also known to be working on matters that arose from Mueller’s work.
832956618	28	In December, the Eastern District of Virginia charged two associates of former National Security Adviser Michael Flynn with conspiring to act as agents of a foreign government and related charges.
832956618	29	In that case, Flynn’s former business partner Bijan Kian and Turkish businessman Kamil Ekim were charged with agreeing to lobby U.S. officials and influence public opinion against Turkish cleric Fethullah Gulen, an outspoken critic of Turkish President Recep Tayyip Erdogan.
832956618	30	The U.S. Attorney’s Office for the District of Columbia is handling the pending case against Roger Stone for lying to Congress, making false statements and tampering with witnesses.
832956618	31	That case is set for trial in November.
832956618	32	If Stone should decide to cooperate in the investigation and prosecution of others, prosecutors would follow those leads as well.
832956618	33	In addition, the U.S. Attorney’s Office in the District of Columbia has been handling cases against Sam Patten and Maria Butina , respectively .
832956618	34	Patten pleaded guilty in August to violating the Foreign Agents Registration Act, and has agreed to cooperate in the investigation and prosecution of others.
832956618	35	Patten pleaded guilty to lobbying on behalf of a pro-Russia Ukrainian political party and concealing his role from the U.S. government.
832956618	36	Patten further pleaded guilty to illegally using straw purchasers to buy tickets to the Trump inauguration for a Ukrainian oligarch for $50,000.TThe law prohibits inaugural committees from accepting money from foreign nationals.Butina pleaded guilty in December to conspiring to act as an agent of Russia.She has been cooperating with the government.
832956618	37	In February, the U.S. Attorney’s Office in the District of South Dakota indicted her boyfriend, Republican operative Paul Erickson, on wire fraud and money laundering charges.
832956618	38	These cases will continue, as will any cases that they spawn.
832956618	39	It may be a long time before the work of Mueller is really complete.
