814403783	1	MPs Threaten Government Shutdown to Stop No Deal Brexit
814403783	3	A group of Remainer MPs will attempt to stop a no deal Brexit by starving the Treasury of funds which could lead to “total paralysis” of the Government.
814403783	4	The MPs are set to vote on two amendments to the Finance Bill, which grants funds to the Treasury to spend on implementing no deal arrangements, on Tuesday.
814403783	5	Labour’s Yvette Cooper MP, who leads the group that includes former Tory ministers Nicky Morgan, Oliver Letwin, and Nick Boles, said, “Our amendment would block some of the Treasury’s no-deal powers unless parliament has explicitly voted for no deal or unless the government has requested an extension of article 50.”
814403783	6	“We’ll be looking to table similar safeguards to all government legislation,” Ms Cooper added, with the Sunday Times reporting that the plans also have the backing of select committee leaders Hillary Benn, Rachel Reeves, Harriet Harman — all from the Labour Party –Frank Field (formerly of Labour), and Sarah Wollaston (Conservative).
814403783	7	Two members of Prime Minster Theresa May’s team told The Times on Saturday that the plan could lead to the “total paralysis” of Government.
814403783	8	A senior Government source added that Ms Cooper’s amendments would be “the first of many” attempts to stop a no deal Brexit should MPs vote down Mrs May’s unpopular EU Withdrawal Agreement in the week beginning January 15th.
814403783	9	There was no mention of a "deal" on the ballot paper.
814403783	10	The British public were given the binary choice of Leave or Remain.
814403783	11	Fantastic point from @PeterBoneUK on #Ridge this morning!#LeaveMeansLeave pic.twitter.com/yt5kEL7Mw9 — Leave Means Leave (@LeaveMnsLeave) January 6, 2019
814403783	12	May’s withdrawal agreement has found opposition from Brexiteers resulting in the prime minister postponing the House of Commons vote before Christmas in face of certain defeat — mainly over the issue of the Irish backstop which could see Northern Ireland locked into regulatory alignment with the bloc after the transition period, should London and Brussels not strike a deal, in order to stop a so-called ‘hard border’ with EU member state Republic of Ireland.
814403783	13	While the establishment media has taken to referring to the plot as a “Trump-style” government shutdown, the comparison misses a fundamental point: President Donald Trump’s shutdown is intended to push the American government to fulfil the will of the American people by securing the U.S.’s southern border, while Cooper’s team seeks to shut down the British government to frustrate the will of the people.
814403783	14	Both the Labour and Conservative parties’ 2017 General Election manifestos ran on pledges to respect the referendum vote and leave the EU; while Mrs May has been pushing MPs to accept her Withdrawal Agreement, a ‘no deal’ Brexit — the default legal position if the lower house votes down May’s agreement — is fulfilling the referendum result as Tory MP Peter Bone told Sky News’s Sophy Ridge on Sunday.
814403783	15	“The only way you’re going to get on and deliver Brexit is what’s called a ‘no deal’ Brexit.
814403783	16	And then at the end of March we’ll be out of the EU and we will have left.
814403783	17	“There was no question, that I remember, on the referendum about a ‘deal’ or not; it was ‘leave’ or ‘remain.’ And the way you leave is to come out on the 29th of March.”
