833041409	1	Beto O'Rourke says he still believes that Trump conspired with Russia
833041409	3	Candidate for the Democrat presidential nomination Beto O'Rourke has said he still believes that President Donald Trump conspired with Russia to rig the 2016 election.
833041409	4	O'Rourke was speaking at a town hall event at Burke High School in Charleston, South Carolina on Saturday morning when he doubled down on the Russian collusion theory.
833041409	5	'You have a president who in my opinion, beyond a shadow of a doubt, sought to, however ham-handedly, collude with the Russian government, a foreign power, to undermine and influence our elections,' O'Rourke said.
833041409	6	'It is beyond the shadow of a doubt that the president once in office sought to obstruct justice,' he continued.
833041409	7	O'Rourke was speaking at a town hall event at Burke High School in Charleston, South Carolina on Saturday morning when he doubled down on the Russian collusion theory
833041409	8	His remarks came soon after special counsel Robert Mueller submitted his investigative report, which a Justice Department official says indicates he will not file further indictments.
833041409	9	In the course of the 22-month investigation, Mueller has not charged any American with conspiring with the Russian government to break election laws, and Trump's supporters took word that there would be no further indictments as proof that the collusion allegations were false.
833041409	10	But the contents of the report have yet to be revealed, and Trump's opponents hope they will reveal malfeasance.
833041409	11	US Attorney General Bill Barr is expected to hand Congress as early as Saturday the key findings of the report.
833041409	12	O'Rourke, seen campaigning on Friday, reiterated his belief in a Russian conspiracy
833041409	13	Trump is seen arriving in Florida on Friday to spend the weekend at Mar-a-lago.
833041409	14	He has not tweeted or spoken publicly since news of the report broke
833041409	15	Chronic tweeter Trump, who was at his Florida residence for the weekend, remained uncommonly silent after spending two years repeatedly labeling Mueller's investigation an illegal witch hunt.
833041409	16	The White House has not received a copy of the report or been briefed on it, Press Secretary Sarah Sanders said on Friday.
833041409	17	'The next steps are up to Attorney General Barr, and we look forward to the process taking its course,' Sanders said in a statement.
833041409	18	Meanwhile Democrats in Congress, many of who are hoping for evidence to support a presidential impeachment, were pressing hard to ensure its full contents are made public, and not just a summary prepared by the Trump-appointed Justice Department chief.
