832934428	1	Hirono: Mueller Report ‘End of the Beginning’ — In Other Investigations ‘More to Come’
832934428	3	Friday on MSNBC’s “All In,” Sen. Mazie Hirono (D-HI) seemed to push aside special counsel Robert Mueller report pointing to “other entities” investigating the Trump Organizations.
832934428	4	Hirono said, “This is the way I look at it.
832934428	5	This is the end of the beginning.
832934428	6	The Southern District of New York, there are other entities that will be looking at other aspects of the Trump Organizations practices, money laundering, or tax evasion, insurance fraud, etc.
832934428	7	So there’s more to come.
832934428	8	I think the president should be concerned.”
832934428	9	She added, “And if we look at his tweets of late where he has been all over the place with regard to Golan Heights and North Korea and all of that.
832934428	10	It seems like the president is very concerned in spite of saying, Oh the Mueller report, I don’t know about that.
832934428	11	'”
832934428	12	Follow Pam Key on Twitter @pamkeyNEN
