822295249	1	Norway’s govt proposes legislation to secure rights of citizens in case of no-deal Brexit
822295249	3	Norway proposed legislation on Friday to secure the rights of Norwegians living in Britain and of Britons living in Norway in case of a no-deal Brexit, the Justice Ministry in Oslo said.
822295249	4	While Britain and EU-outsider Norway agreed last year to apply the principles of a Brexit agreement in their bilateral relationship, the new legislation would also cover a no-deal scenario.
822295249	5	“We hope Britain will have an orderly exit from the EU.
822295249	6	We must however be prepared for Britain choosing to leave the EU without a deal,” said Justice Minister Tor Mikkel Wara.
822295249	7	If approved, the legislation would delegate power from the non-EU nation’s parliament to the government, allowing it to protect citizens’ rights, Reuters said.
