833021113	1	Roger Stone associate Jerome Corsi celebrates end of Mueller probe after REFUSING to sign plea deal
833021113	3	Roger Stone associate Jerome Corsi has said that the end of special counsel Robert Mueller' investigation is a personal vindication, after he refused to take a plea deal under threat of prosecution.
833021113	4	With a senior Justice Department official saying that Mueller's final report submitted on Friday does not recommend further indictments, author and conspiracy theorist Corsi appears to be off the hook.
833021113	5	'I feel vindicated.
833021113	6	They offered me a plea deal which I thought was fraudulent,' Corsi said in a statement to Fox News.
833021113	7	In November, Corsi said he had refused to plead guilty to one count of perjury because he did not believe that he had committed any crime.
833021113	8	Author and conspiracy theorist Jerome Corsi (seen in January) said that he was vindicated by the end of the Mueller probe after refusing to take a plea deal
833021113	9	'I did not knowingly and willfully give them information I knew was false,' Corsi said on Friday.
833021113	10	'The fact is I wasn't going to lie to keep myself out of prison.
833021113	11	I did nothing wrong and it is clear I did nothing wrong or they would have prosecuted me.'
833021113	12	Corsi celebrated the news in a series of triumphant tweets, writing: 'It's over but it has been the worst seven months of my life.
833021113	13	MUELLER IS DONE.
833021113	14	I am in the clear.'
833021113	15	'I want to thank all of you who have prayed for me and my family,' he added, attributing his legal outcome to the power of prayer.
833021113	16	Corsi came under scrutiny by Mueller for his communications with Stone, a Trump campaign advisor, about WikiLeaks publishing stolen emails from Hillary Clinton's campaign.
833021113	17	Corsi came under scrutiny by Mueller for his communications with Rodger Stone, a Trump campaign advisor, who is seen above earlier this month
833021113	18	Court documents indicate that Stone sought to use him as an intermediary to communicate with WikiLeaks founder Julian Assange during the election.
833021113	19	Stone was arrested in January in a pre-dawn raid on his home in Florida, and is charged with one count of obstruction of an official proceeding, five counts of false statements, and one count of witness tampering.
833021113	20	He is currently free on bond and has pleaded not guilty on all counts.
833021113	21	Mueller's probe ended without any Americans being charged with conspiring with the Russian government to tamper with the 2016 election, the central allegation of the nearly two-year investigation.
