833028146	1	Schiff on end of Mueller probe: 'We have to find the truth'
833028146	3	Rep. Adam Schiff, chairman of the House Intelligence Committee said about a month ago the "evidence" of Trump collusion with Russia was "in plain sight.
833028146	4	"Chairman Burr must have a different word for it," Schiff told host Dana Bash on "State of the Union," pointing to communications between Russia and Donald Trump Jr. and former Trump aides George Papadopoulos and Michael Flynn.
833028146	5	"You can see evidence in plain sight on the issue of collusion, pretty compelling evidence," Schiff said, adding, "There is a difference between seeing evidence of collusion and being able to prove a criminal conspiracy beyond a reasonable doubt."
833028146	6	If there's "evidence in plain sight" for Russian collusion, then Mueller is either blind or in cahoots with Trump, because the special counsel isn't indicting anyone else.
833028146	7	But Schiff is nothing if not tenacious.
833028146	8	He is vowing to continue the investigation.
833028146	9	"We will find the truth," he told Wolf Blitzer of CNN.
833028146	10	Today, Schiff and numerous other politicians, pundits, and various left-wing loons are still digging through that manure pile looking for the pony they are certain is there.
833028146	11	It's sort of like Bullwinkle pulling a rabbit out of his hat ("Nuthin up my sleeve...presto!")
833028146	12	"Wrong hat," Adam.
