821040551	1	Queen Elizabeth Would Be Evacuated in Event of Brexit Riots: Report
821040551	3	If Britain leaves the European Union without a trade deal, and riots ensue, Queen Elizabeth will be evacuated from London, according to reports.
821040551	4	Many British people are reportedly worried that there won’t be a deal when the U.K.leaves the EU in less than 55 days and, as a result, have been busy stockpiling medication and food.
821040551	5	A new report has also emerged that the 92-year-old monarch has a contingency plan, underscoring the severity of the situation, The New York Times reported.
821040551	6	The Sunday Times additionally reported that evacuation plans for the royal family had long been in place.
821040551	7	A Cabinet Office staffer, who was not identified in the report, told the newspaper: “These emergency evacuation plans have been in existence since the Cold War, but have now been repurposed in the event of civil disorder following a no-deal Brexit.” Buckingham Palace declined to address evacuation plans on Sunday, with a spokeswoman saying, “We’re not commenting on that at all.”
