833052347	1	US reacts to end of Mueller probe with relief, skepticism
833052347	3	This undated photo shows Dajah Harris, in Norfolk, Va. Harris, 21, a college senior at Old Dominion University in Norfolk, Virginia, is a Democrat and no fan of Trump.But she saw the investigation as a distraction from more important things like the border wall, homelessness, college debt and welfare programs..The country should never have elected someone, she said, whose background raises such questions..
833052347	4	(Ben Finley/Associated Press)
833052347	5	PHILADELPHIA — With the long-awaited special counsel’s investigation finished but its contents still shrouded in mystery, Americans waited for details, yawned with boredom or stayed fixed to their long-cemented positions on President Donald Trump, the man at the probe’s center.
833052347	6	For all the expected splash of Robert Mueller’s report, it arrived with more of a thud, thanks to the secrecy surrounding it.
833052347	7	Few saw reason to think it would sway many opinions in a divided republic.
833052347	8	Helen Jones, a 72-year-old retired English professor in Salt Lake City, Utah, who is Republican but despises Trump, knows whatever comes out, her relatives who strongly back the president won’t budge — just as detractors like her won’t be convinced he isn’t a crook.
833052347	9	She sees no simple end in sight.
833052347	10	“I think it’s just the beginning,” said Jones, a political junkie who called the moment a historic one like Watergate.
833052347	11	“I hope it’s a turning point in the Trump presidency.”
833052347	12	Across ideology, many expressed relief Saturday that the investigation was finally over.
833052347	13	“Now maybe we can move on to better things,” said Bubba Metts, a 61-year-old conservative who is a financial adviser in Lexington, South Carolina.
833052347	14	“Twenty million dollars spent — for nothing.”
833052347	15	Dajah Harris, 21, a college senior at Old Dominion University in Norfolk, Virginia, is a Democrat and no fan of Trump.
833052347	16	But she saw the investigation as a distraction from more important things like homelessness, college debt and welfare programs.
833052347	17	The country should never have elected someone, she said, whose background raises such questions.
833052347	18	“I don’t feel that where the country is right now that this is something we should even be discussing,” she said.
833052347	19	Mueller worked in virtual silence as a stream of charges have flowed forth against 37 people and companies.
833052347	20	From the start, with his appointment on May 17, 2017, some have framed his work as a battle of good and evil of biblical proportions.
833052347	21	And on the 675th day, Mueller finished his work, and he rested.
833052347	22	But nothing immediately changed for those who had watched with bated breath.
833052347	23	For Mark Itzen, a 64-year-old social worker from Levittown, Pennsylvania, it was a frustrating reality.
833052347	24	“The most disturbing thing for me is that we don’t know the details,” the Democrat said.
833052347	25	“I thought we have the right to know right off the bat after all this anticipation.”
833052347	26	Expectations remained high for some sort of explosive revelation, but what exactly it might be remained anyone’s guess.
833052347	27	For liberals who welcomed the investigation with gleeful shouts of “It’s Mueller Time!” and anxiously awaited justice that aligns with their view of Trump as Antichrist, it seemed the endless billows of smoke would surely produce evidence of fire.
833052347	28	For conservatives who subscribed to the president’s view of the probe as a witch hunt and dismissed it as the misguided tomfoolery of a bitter opposition whose search for retribution is as loopy as its policies, it seemed certain to bring exoneration to Trump and maybe even a roadmap for future victory by him and his party.
833052347	29	Jason Cox, a 51-year-old farmer in Campbellsville, Kentucky, who voted for Trump in 2016 and plans to again next year, saw it the way Trump framed it — as a witch hunt.
833052347	30	“It didn’t turn out, it seems to me, the way Democrats wanted,” he said.
833052347	31	“I think Pelosi and Schumer are going to just keep beating and badgering and looking for something.”
833052347	32	Stanley Twardy, legal adviser to Republicans for the Rule of Law, which worked to protect the Mueller investigation from political interference, said the report won’t bring a quick end to anything.
833052347	33	“It’s not like the report will be issued and everybody says, ‘OK, we’re done now,’” he said.
833052347	34	“This is all part of a process.
833052347	35	The process will work its way out.
833052347	36	This is why our country has stood the test of time.”
833052347	37	Shaela and Cindy Buchanan were tackling chores Saturday morning at the Lost Sock Laundromat in Wichita, Kansas, when the topic of Mueller was raised.
833052347	38	“Which one is Mueller?” asked Cindy, a 51-year-old manager at a paint company.
833052347	39	She doesn’t follow politics closely but liked Trump at first.
833052347	40	The questions about Russia, though, caused the 51-year-old paint company manager to reconsider.
833052347	41	Her 48-year-old wife Shaela, who considers herself a political independent, sees Trump as “bought and paid for” while regular people live paycheck to paycheck.
833052347	42	She doubts Mueller’s report ultimately does anything to change that.
833052347	43	“I don’t feel it is over once it is released,” Shaela Buchanan said.
833052347	44	“People any more they have suffered to the point they don’t have any power — it doesn’t matter.”
833052347	45	Peter Malak, a 42-year-old high school civics teacher from northeastern North Carolina, offered similar thoughts.
833052347	46	He calls himself a swing voter who tends to lean right.
833052347	47	While the media obsess over the Mueller report, he said, most Americans just want to pay their mortgages.
833052347	48	“The average person just doesn’t care,” he said, while stopping for a haircut.
833052347	49	“Your life is going to go on either way, regardless of what the Mueller investigation comes out to be.”
833052347	50	___
833052347	51	Sedensky can be reached at msedensky@ap.org and https://twitter.com/sedensky
833052347	52	___
833052347	53	Contributing to this report were Mike Catalini in Morrisville, Pennsylvania; Ben Finley in Norfolk, Virginia; Claire Galofaro in Louisville, Kentucky; Allen Breed in Wake Forest, North Carolina; Jennifer McDermott in Providence, Rhode Island; Adam Beam in Frankfort, Kentucky; Lindsay Whitehurst in Salt Lake City, Utah; Hannah Grabenstein in Little Rock, Arkansas; Jeffrey Collins in Columbia, South Carolina; Roxana Hegeman in Wichita, Kansas; Sarah Blake Morgan in Charlotte, North Carolina; and Elliott Spagat in Solana Beach, California.
833052347	54	Copyright 2019 The Associated Press.
833052347	55	All rights reserved.
833052347	56	This material may not be published, broadcast, rewritten or redistributed.
