820791520	1	George III Lost America.
820791520	3	Theresa May Could Lose the United Kingdom Over Brexit.
820791520	5	Britain is locked in the most serious peacetime crisis in its modern history, the increasingly desperate attempt to secure the nation’s orderly departure from the European Union.
820791520	6	Brexit has shown the world a British parliament and a political class that resembles a ship of fools without a captain.
820791520	7	One veteran of Margaret Thatcher’s cabinet said that voters are looking at parliament “with something rather near to contempt.”
820791520	8	We speak of the oldest parliamentary democracy in the Western world.
820791520	9	Since 1721 it has seen 74 prime ministers of highly varied competence and backgrounds but few if any as incapable of steering the country through perilous times as the current incumbent, Theresa May, who could end up being compared to George III because of the consequences of her ineptitude.
820791520	10	The ultimate test of a prime minister in a crisis is always the same—how well do they measure up to the moment?
820791520	11	The answer to that depends on a combination of skills.
820791520	12	Quite often they are skills that politicians do not find in themselves until they are called upon by destiny to prove them.
820791520	13	Different times need different abilities.
820791520	14	Sometimes a prime minister who at the time seems mediocre is later reassessed and seen to have been more consequential than anyone realized because he was overshadowed by a predecessor.
820791520	15	In British history there is a classic instance of this: In 1945 Winston Churchill was rudely and unexpectedly removed from office in a general election and replaced by the leader of the Labour Party, Clement Attlee.
820791520	16	Churchill, the country’s greatest ever war leader, was contemptuous of his successor whom he described as “a modest little man with a lot to be modest about.”
820791520	17	It turned out that Attlee (who was deputy prime minister during the war) was precisely what the nation needed, not only to get through years of austerity imposed by the near-bankruptcy created by the war effort, but as the parliamentary leader with the skills to re-engineer British society and provide its people with a comprehensive safety net including, notably, free universal health care for life.
820791520	18	So here were two men equally indispensable in their abilities, one to lead and the other to heal.
820791520	19	In each case their mastery reflected their character, Churchill who was able to project himself as the living embodiment of a great national narrative of obdurate resistance and victory and Attlee as the quiet but systematic architect of change.
820791520	20	And today Britain has Theresa May.
820791520	21	It is too generous to say that May has had trouble measuring up the to moment.
820791520	22	She has trouble explaining what the moment actually is—the utterance that will forever be her epitaph in the history of political discourse will be “Brexit means Brexit.”
820791520	23	Imagine Churchill saying “war means war.” OK, let’s be reasonable.
820791520	24	When it comes to oratory nobody can hold a candle to Churchill.
820791520	25	Every prime minister since Churchill has carefully avoided getting into that kind of contest.
820791520	26	But when the qualities of leadership are under scrutiny it’s important to understand that Churchill was as courageously decisive in private as he was in public.
820791520	27	There is a passage in Andrew Roberts’ sweeping new biography, Churchill, Walking With Destiny, describing a moment where the prime minister speaks ad lib and without leaving his own record of what was, literally, one of the statements that saved Britain.
820791520	28	He was speaking to men not as resolved as himself who needed to believe in him as an army needs to believe in its generals.
820791520	29	It came in the early summer of 1940 when Churchill, who had taken over only a week before, was resisting attempts to negotiate with Hitler.
820791520	30	He told his new cabinet: 
820791520	31	“I have thought carefully in these last days whether it was part of my duty to consider entering into negotiations with That Man.
820791520	32	But it was idle to think that, if we tried to make peace now, we should get better terms than if we fought it out.
820791520	33	The Germans would demand our fleet—that would be called ‘disarmament’—our naval bases and much else.
820791520	34	We should become a slave state… If this long island story of ours is to end at last, let it end only when each one of us lies choking in his own blood upon the ground.”
820791520	35	No official minute was taken of that statement—Roberts quotes it as recorded later in the diary of a cabinet member.
820791520	36	What is new now is that Theresa May brings to the office a background like no other before her.
820791520	37	She is the first person to hold that office who is by both experience and instincts a bureaucrat.
820791520	38	Her rise to the Tory party leadership owed much to her success as a bureaucrat.
820791520	39	She ran a government department that was so large and so challenging to master that some prime ministers were known to have deliberately given it to rivals in order to destroy their careers: the Home Office, a Whitehall edifice that could perhaps be compared to a nightmare package embracing the U.S. Department of Justice, the Department of the Interior and the Department of Homeland Security.
820791520	40	She was put there by David Cameron, a prime minister who was himself notoriously bored by administrative details and, as his decision to hold a national referendum on Brexit demonstrated, not too smart at judging outcomes.
820791520	41	May survived with a mixed record at the Home Office.
820791520	42	She acquired something of the reputation of a control freak, devoted to organizational charts and preferring to run the department through a small and tight-knit clique of loyal aides and Tory Party law-and-order zealots.
820791520	43	Churchill, famous for asking for opinions “on one half sheet of notepaper,” said that a camel is what you end up with if you ask a committee to design a horse.
820791520	44	May was fond of setting up committees and official inquiries to avoid taking action and produced many camels.
820791520	45	One of her former cabinet ministers despaired that “it’s a fantastic skill, her ability to do nothing.”
820791520	46	“ Alas, because May is a bureaucrat she has the bureaucrat’s particular gift of killing language.
820791520	47	The English language, so rich in its ability to move people, dies in her mouth.
820791520	48	”
820791520	49	Later she managed to swat away responsibility for an ugly debacle during her watch.
820791520	50	West Indians who immigrated to Britain in the 1950s were threatened with mass deportation because they had no record of legally arriving—then it turned out that the Home Office itself had discarded the documentation.On the face of it her bureaucratic cast of mind should have been an asset when facing the complexities involved in negotiating Britain out of all the political, legal and commercial attachments to the European Union.
820791520	51	After all, the country was not facing a lethal existential threat.
820791520	52	This was a self-initiated unraveling of laws and treaties.
820791520	53	But the EU is the world’s largest assembly of bureaucrats, a characteristic often damned by the pro-Brexit campaign, as well as by more reasoned critics.
820791520	54	A negotiation of this complexity had never been attempted by anyone before.
820791520	55	It needed a team that combined a complete command of administrative detail, a shrewd sense of the national interest, an equally shrewd assessment of the opposing interests, and an ability to understand the difference between bottom-line economic interests and the EU’s loftier moral values as an alliance committed to protecting constitutional democracy in a continent with an unhappy history of autocracies.
820791520	56	This was a tough deal for anyone to successfully achieve.
820791520	57	But any leader who was able not only to pull it off but to sell it to their people—in the case of the UK to a people divided by a referendum margin as close as 52 to 48 percent—needed to have something else.
820791520	58	They had to be able to bring eloquence and vision to their argument.
820791520	59	Alas, because May is a bureaucrat she has the bureaucrat’s particular gift of killing language.
820791520	60	The English language, so rich in its ability to move people, dies in her mouth.
820791520	61	The closest she has ever come to articulating the case for the Brexit deal she negotiated that set up a 21-month transition period for achieving a new free trade agreement with the EU (the deal that she is again stuck with trying to amend and resuscitate despite that fact that the EU has warned it will not renegotiate) was to say, repetitively, “It is in the national interest for everyone to get behind it.”
820791520	62	Basically when the narrow majority of Brits voted for Brexit they voted for something that didn’t actually exist.
820791520	63	There was not even the vaguest outline of the real impact that Brexit would have on British life.
820791520	64	Its proponents, even if they had any sense of the outcome (which is doubtful) weren’t interested in pesky details.
820791520	65	They were appealing to raw emotions, largely anti-immigrant xenophobia, not advancing a rational argument.
820791520	66	The Brexit deal that May presented to parliament went down in the biggest defeat any prime minister has suffered, 432 votes to 202.
820791520	67	All along she had been trying to reconcile elements that are not reconcilable: keeping the support of her party’s lunatic fringe that is undismayed by the prospect of a “no deal” exit that would bring extreme self-harm while also holding the loyalty of the center of the party—and doing this while satisfying the terms the EU is prepared to allow.
820791520	68	(“Allow” is the realistic term because Britain has always been a supplicant.)At the same time she survived a parliamentary no-confidence vote that leaves her in power while seriously wounded and without a new deal that is likely to fly.
820791520	69	Jeremy Corbyn, the Labour Party leader, is similarly ineffectual and unready to meet the leadership tests of his time.
820791520	70	His party includes a rump of Brexiters and his cabinet is in thrall to fossilized Marxist ideas.
820791520	71	His rhetorical skills are, if anything, less evident than May’s.
820791520	72	Given two clueless party leaders it often seems that all the politicians are overcome by the kind of helpless rapture that sent Thelma and Louise driving blissfully over the cliff.
820791520	73	In 1940 Churchill’s freedom of action was greatly helped by the fact that he did not have to bow to any party’s dictates.
820791520	74	He was appointed prime minister without being leader of the Tory party—the leader remained his predecessor as prime minister, Neville Chamberlain.
820791520	75	Uniquely, Churchill led a coalition of the Tory, Labour and Liberal parties at a time when none of those parties would probably have accepted him as their party leader.
820791520	76	As a result of this freedom he was able to isolate and negate the influence of the appeasers who did not like the prospect of choking in their own blood.
820791520	77	He could and did appeal directly to the spirit of a parliament and a people who set aside partisan interests in favor of a higher purpose, victory that was by no means assured.
820791520	78	The irony now is that Brexiters represent only 15 percent of the 650 members of the House of Commons.
820791520	79	A large majority is opposed to Britain crashing out of Europe without a deal.
820791520	80	A prime minister not constrained by party loyalties could easily get support for a “soft” Brexit—meaning a measured transition from full membership to one that keeps the country in a permanent customs union without disruption.
820791520	81	Instead, by trying vainly to satisfy everyone May is satisfying nobody except people like the loony Little Englanders who say that such a deal would leave Britain as a “slave state.”
820791520	82	If they get their way May could well go down in history as the prime minister who lost the kingdom—the United Kingdom.
820791520	83	Scotland wants nothing to do with Brexit and if it is imposed on them the Scottish parliament will probably vote to end the Acts of Union of 1707 that created the United Kingdom in order to leave them free to join the EU.
820791520	84	The implications are wider than that.
820791520	85	Leaders in the European Union—including Germany’s Angela Merkel—are now fretting that the EU without Britain will be less able to clamp down on the kind of populist taste for autocrats that is afflicting Poland and Hungary.
820791520	86	George III went down in history as the king who lost America.
820791520	87	Nobody in particular was held culpable for losing the empire—that was an inevitability of history that imposed its own logic and timing.
820791520	88	If the United Kingdom becomes Little England (albeit including Wales and Northern Ireland) it will have reverted to the boundaries of the land it was in 40 A.D. when the Romans made a coherent colony out of a rabble of warring tribes.
820791520	89	And this fiasco will be owned by a parliament that allowed a deranged minority to win and a prime minister who was never remotely equal to the greatest challenge of her time.
