832971448	1	Jokes and memes about Robert Mueller's investigation ending
832971448	3	The details of the long-awaited Mueller report have not been made public
832971448	4	Special counsel Robert Mueller delivered the results of his two-year investigation into Russian interference in the 2016 presidential election to Attorney General William Barr on Friday, and the internet had a lot to say about it.
832971448	5	The details of the long-awaited Mueller report have not been made public but he has not recommended any new criminal indictments.
832971448	6	Only time will tell whether President Donald Trump will be implicated.
832971448	7	But that didn't stop meme wizards and Twitter comedians from weighing in on this historical moment.
832971448	8	From depictions of Mueller taking a much-deserved vacation, to Marie Kondo expressing joy over how much she loves a good mess, and so many jokes about procrastinating leading up to deadline, the internet was quick to poke fun on how the investigation continues to play out.
832971448	9	Scroll down for video
832971448	10	Special counsel Robert Mueller's investigation into Russian interference in the 2016 presidential election officially ended on Friday and the internet did not waste time making jokes about the situation.
832971448	11	Mueller is shown arriving at his office in Washington, DC on Thursday
832971448	12	One meme by Twitter user @CoffeeNTrees showed Mueller's face behind cartoon sunglasses, edited onto the body former President Barach Obama on a boat wearing a life vest, from not long after he left office
832971448	13	Trevor Noah's '@TheDailyShow' also got in on the fun, making Mueller over into a version of Beyoncé as she appeared in her 'Lemonade' studio album.
832971448	14	'Oooh Mueller report just dropped!'
832971448	15	the account posted, making fun of the fervor with which Beyoncé's work of art was received when it came out unexpectedly
832971448	16	Another post referenced the cultural phenomenon that has become of Marie Kondo and her Netlix series, 'Tidying Up,' with a play on words about what a mess this whole thing is
832971448	17	One meme by Twitter user @CoffeeNTrees showed Mueller's face behind cartoon sunglasses, edited onto the body former President Barach Obama on a boat wearing a life vest, from not long after he left office.
832971448	18	'Robert Mueller at 5.15 today,' the post read, implying Mueller immediately went on vacation after turning over his findings to AG Barr.
832971448	19	Another post referenced the cultural phenomenon that has become of Marie Kondo and her Netlix series, 'Tidying Up.'
832971448	20	In the show, Kondo often says she gets excited about the change to help people organize their lives, saying 'I love mess.'
832971448	21	Twitter user '@mattcasill' referenced Kondo's brand showcasing a still of her from the show saying, 'I'm so excited because I love mess,' with the caption, 'tfw [that feeling when] when the mueller report gets delivered.'
832971448	22	Author Caroline Moss came in swinging with a much less wholesome cultural reference.
832971448	23	Author Caroline Moss came in swinging with a much less wholesome cultural reference.
832971448	24	Moss brought up YouTube star Shane Dawson having to clarify that he did not 'f**k his cat' or ejaculate on his cat, after saying he did in unearthed podcast audio
832971448	25	Another post by '@ebfavs' showed a scene that would strike fear into the hearts of many, because we've all undoubtedly been there.
832971448	26	It's Mueller depicted getting technical support at an Apple store as a woman looks on, captioned with 'I swear I hit save'
832971448	27	Moss brought up YouTube star Shane Dawson having to clarify that he did not 'f**k his cat' or ejaculate on his cat, after saying he did in unearthed podcast audio.
832971448	28	Moss tweeted a fictional rendition of what a comedic take on the Mueller report might look like if it was released as a thread.
832971448	29	'The Mueller Report,' she wrote, followed with, 'I didn't f**k my cat (1/2847).
832971448	30	Another post by '@ebfavs' showed a scene that would strike fear into the hearts of many, because we've all undoubtedly been there.
832971448	31	It's Mueller depicted getting technical support at an Apple store as a woman looks on, captioned with 'I swear I hit save.'
832971448	32	Along the same lines, Patrick Monahan, co-host of the What A Time To Be Alive podcast, described a scene many writers are all too familiar with.
832971448	33	'Robert Mueller sweating in front of his laptop, staring at a Word doc containing only the words “The Mueller Report” and a blinking cursor,' he wrote.
832971448	34	Trevor Noah's '@TheDailyShow' also got in on the fun, making Mueller over into a version of Beyoncé as she appeared in her 'Lemonade' studio album.
832971448	35	'Oooh Mueller report just dropped!'
832971448	36	the account posted, making fun of the fervor with which Beyoncé's work of art was received when it came out unexpectedly.
832971448	37	On the image, The Daily Show team had overlayed text reading 'Kremlinade,' referring to Russia's citadel in Moscow.
832971448	38	Along the same lines, Patrick Monahan, co-host of the What A Time To Be Alive podcast, described a scene many writers are all too familiar with, writing, 'Robert Mueller sweating in front of his laptop, staring at a Word doc containing only the words “The Mueller Report” and a blinking cursor'
832971448	39	Actor, director, author, and activist George Takei took a straight forward approach at poking fun at the president, quoting an imaginary conversation between the leader of the free world and Mueller
832971448	40	Twitter use '@KenCox' joked that Mueller had important plans after dropping off his report
832971448	41	Actor, director, author, and activist George Takei took a straight forward approach at poking fun at the president, quoting an imaginary conversation between the leader of the free world and Mueller.
832971448	42	Trump has often referred to the Mueller probe as a 'witch hunt' so Takei ran with that.
832971448	43	'Trump: WITCH HUNT!'
832971448	44	Takei wrote, envisioning a reply from Mueller saying, 'Here you go.
832971448	45	Enjoy your weekend.'
832971448	46	Twitter use '@KenCox' joked that Mueller had important plans after dropping off his lengthy report.
832971448	47	'Mueller's going to take the car in for service after ignoring that Check Engine light for the last year,' he wrote.
832971448	48	So many others got in a viral thread with sarcastic comments about being on deadline.
832971448	49	Mother Jones national politics writer Tim Murphy kicked it off, tweeting, 'I've been in Robert Mueller's position before and let me tell you, he has not written sh*t.'
832971448	50	The replies came rolling in, including some real gems showcasing classic procrastination methods that have stood the test of time.
832971448	51	So many others got in a viral thread with sarcastic comments about being on deadline.
832971448	52	Mother Jones national politics writer Tim Murphy kicked it off, tweeting, 'I've been in Robert Mueller's position before and let me tell you, he has not written sh*t'
832971448	53	The replies came rolling in, including some real gems showcasing classic procrastination methods that have stood the test of time.
832971448	54	User '@lizchar' wrote, 'Mueller's just gonna take a quick nap and then workon the report when he gets up...'
832971448	55	Similarly, White House reporter for the Washington Post and MSNBC and NBC News political analyst Ashley Parker joked in a tweet, 'Mueller’s gonna just rest his eyes for a minute and then see if there are any Thin Mints still left in the freezer...'
832971448	56	Switching stalling methods, Matt Duss, foreign policy advisor for senator Bernie Sanders, wrote, 'Mueller suddenly realized how important it was to look up the filmography of the guy who played Porkins'
832971448	57	User '@lizchar' wrote, 'Mueller's just gonna take a quick nap and then work on the report when he gets up...'
832971448	58	Similarly, White House reporter for the Washington Post and MSNBC and NBC News political analyst Ashley Parker joked in a tweet, 'Mueller’s gonna just rest his eyes for a minute and then see if there are any Thin Mints still left in the freezer...'
832971448	59	Switching stalling methods, Matt Duss, foreign policy advisor for senator Bernie Sanders, wrote, 'Mueller suddenly realized how important it was to look up the filmography of the guy who played Porkins.'
832971448	60	Washington Post nonfiction book critic Carlos Lozada tweeted, 'Mueller's going to go for a quick run to clear his head and then really get cranking on this thing...'
832971448	61	Washington Post nonfiction book critic Carlos Lozada tweeted, 'Mueller's going to go for a quick run to clear his head and then really get cranking on this thing...'
832971448	62	Twitter user '@WenzlerPowers' wrote, 'Muellers's gonna take himself out to lunch because he can't think in his own place and going outside will get the juices flowing'
832971448	63	White House correspondent for The Atlantic and CNN political analyst Elaina Plott tweeted, 'Mueller’s gonna dust the whole apartment and then iron a few things because he’s really been meaning to do that'
832971448	64	'Mueller’s gonna just do a quick rewatch of Russian Doll start to finish & then it’s DOWN TO BUSINESS,' writer Rachel Klein tweeted.
832971448	65	Twitter user '@WenzlerPowers' wrote, 'Muellers's gonna take himself out to lunch because he can't think in his own place and going outside will get the juices flowing.'
832971448	66	White House correspondent for The Atlantic and CNN political analyst Elaina Plott tweeted, 'Mueller’s gonna dust the whole apartment and then iron a few things because he’s really been meaning to do that.'
832971448	67	'Mueller’s gonna just do a quick rewatch of Russian Doll start to finish & then it’s DOWN TO BUSINESS,' writer Rachel Klein tweeted.
832971448	68	Others joked more about what Mueller would be up to with all of his anticipated free time.
832971448	69	Others joked more about what Mueller would be up to with all of his anticipated free time.
832971448	70	'Mueller getting him to a DVR backlogged with two years' worth of Real Housewives episodes,' wrote New York Times culture reporter Dave Itzkoff
832971448	71	Senior editor at The Daily Beast Erin Gloria Ryan tweeted about the real crime here.
832971448	72	'Mueller is such a drama queen, trying to steal the glory of national puppy day for himself,' she wrote
832971448	73	'Mueller getting him to a DVR backlogged with two years' worth of Real Housewives episodes,' wrote New York Times culture reporter Dave Itzkoff.
832971448	74	Senior editor at The Daily Beast Erin Gloria Ryan tweeted about the real crime here.
832971448	75	'Mueller is such a drama queen, trying to steal the glory of national puppy day for himself,' she wrote.
832971448	76	For now, Mueller has not recommended any new criminal indictments.
832971448	77	Only time will tell whether President Donald Trump will be implicated.
832971448	78	Trump is pictured on the South Lawn of the White House on Friday
