813494037	1	Sadiq Khan Slammed for Pro-EU 'Message of Support' During Firework Display
813494037	3	The spectacular fireworks that lit up the London sky on Monday night caused a stir on social media over the display's pro-EU message, at a time when the nation is divided over its looming withdrawal from the bloc.
813494037	4	London Mayor Sadiq Khan faced mounting criticism after the capital's New Year's Eve fireworks display, which celebrated ties with the European Union, left a bad taste in the mouths of some Brits.
813494037	5	The 135-metre-high London Eye was lit up in blue while its tubs turned yellow, with the giant Ferris wheel resembling the star-studded flag of the European Union.Sadiq Khan called his fireworks display a "message of support" to EU citizens living in London.
813494037	6	"Our one million EU citizens are Londoners, they make a huge contribution, and no matter the outcome of Brexit — they will always be welcome", he said.
813494037	7	To the one million EU citizens who have made our city your home: you are Londoners, you make a huge contribution and you are welcome here.
813494037	8	I'm proud that tonight we will welcome in the new year with a message of support to you.
813494037	9	#LondonNYE #LondonIsOpen https://t.co/XctrgfXXaM — Sadiq Khan (@SadiqKhan) 31 декабря 2018 г.
813494037	10	However, a host of Londoners rushed to Twitter to accuse their mayor of "politicising" the celebrations — with some are even calling for his resignation.
813494037	11	I cannot believe this event has been politicised.
813494037	12	This man has no shame.
813494037	13	Just resign.
813494037	14	— wayne campbell (@campbs177) 31 декабря 2018 г.
813494037	15	Thanks a lot Sadiq Khan you ruined the fireworks display by talking about Europe, need I remind you about Brexit.
813494037	16	You have started of the new year by talking about relationships with the European Union.
813494037	17	Well done.
813494037	18	We need Boris Johnson back.
813494037	19	— Mitchell T Cannon (@MitchellTCanno1) 1 января 2019 г.
813494037	20	Another shameless attempt at using party politics on what is supposed to be a happy occasion — droneguy (@shelbyguitars) 1 января 2019 г.
813494037	21	Politicising another innocent event that should be no different to anyone no matter who they are or where they are from!
813494037	22	Shameful!
813494037	23	!
813494037	24	— Mike Dyer (@Miked2372Mike) 31 декабря 2018 г.
813494037	25	Someone was stabbed down the road from me last night.
813494037	26	How about sorting that stuff out instead of politicizing something that should be fun for everyone?How many times does it have to be said.
813494037	27	Commenting on Brexit isn't your job.
813494037	28	— Peter Rockett (@rockettp) 31 декабря 2018 г.
813494037	29	The UK voted to leave the EU in June 2016 via a nationwide referendum, with 51.9 per cent voting in favour of pulling out of the bloc, while 48.1 per cent wanted to remain.
813494037	30	The withdrawal is scheduled for the end of March; the Article 50 deadline.
813494037	31	The Remain sentiment dominated London, with nearly 60 percent of voters wanting Britain to stay in the European Union.
813494037	32	Sadiq Khan, an outspoken Remainer himself, earlier called for a second referendum on Brexit.
813494037	33	"The government's abject failure — and the huge risk we face of a bad deal or a 'no deal' Brexit — means that giving people a fresh say is now the right — and only — approach left for our country," he said in September.
