832959523	1	How Theresa May Botched
832959523	3	Those were the times…
832959523	4	The Times page 1 is of January 18, 2017.
832959523	5	Negotiations between the United Kingdom and the European Union about Brexit were just beginning.
832959523	6	The “you’ll be crushed” arrogance in the headline characterizes the attitude the British government under May demonstrated during the talks.
832959523	7	Recently that attitude has somewhat changed.
832959523	8	This screenshot was taken about an hour ago:
832959523	9	The BBC writes: Against the State: An ... Llewellyn H. Rockwell Jr. Best Price: $12.99 Buy New $9.05 (as of 10:25 EDT - Details)
832959523	10	Theresa May has said she “sincerely hopes” the UK will leave the EU with a deal and she is still “working on” ensuring Parliament’s agreement.Arriving in Brussels, she said that she had “personal regret” over her request to delay Brexit, but said it will allow time for MPs to make a “final choice”.
832959523	11	At the EU summit the PM spoke to the other 27 leaders to try to get their backing for a delay beyond 29 March.
832959523	12	Meanwhile, Jeremy Corbyn said his talks in Brussels were “very constructive”.
832959523	13	BBC Brussels correspondent Adam Fleming said Mrs May spoke to EU leaders for 90 minutes and was asked several times what her contingency plans were if she lost the third “meaningful vote” on her deal in Parliament.
832959523	14	French President Emmanuel Macron has warned that if MPs vote down Mrs May’s EU withdrawal agreement next week, the UK will leave without a deal.
832959523	15	May asked the EU to move the hard coded March 29 Brexit date to June 30.
832959523	16	She may be given May 23, the day of EU elections, as a compromise but only if her deal passes the British parliament.
832959523	17	A no-deal crash out on March 29 would create utter chaos for months.
832959523	18	It would be catastrophic for Britain’s economy.
832959523	19	May’s withdrawal agreement was already voted down twice.
832959523	20	If it comes to a third vote in parliament it is very likely to fail again.
832959523	21	Yves Smith, who you should all read, opens her Brexit sit rep today with this:
832959523	22	We’ve been more pessimistic than most commentators about the likelihood of the UK escaping the default of a no-deal Brexit.
832959523	23	We may not have been pessimistic enough.
832959523	24	There is still the possibility that May takes a 180 degree turn, but that would be the end of her career and likely also the end of the Conservative Party:
832959523	25	Now there is a popular push for an Article 50 revocation, with a petition already at over 400,000 signatures as of this hour.
832959523	26	But as we’ll discuss, May would have to do a complete reversal to revoke Article 50, which is within her power, not just a Prime Minister, but also implementing the motion by Parliament rejecting a no-deal Brexit.
832959523	27	Article 50 is the part of the British withdrawal law that governs the Brexit process.
832959523	28	If May revokes it, there is little chance that another Brexit attempt will ever be made.
832959523	29	The majority that voted to leave the EU will have been betrayed.
832959523	30	An analysis by the BBC Europe editor says that the “Leaders want to avoid no-deal Brexit”:
832959523	31	[W]hile EU leaders have ruled out re-opening the Brexit withdrawal agreement and the “backstop” text, you can bet they’ll discuss a longer Brexit delay at their summit today.
832959523	32	This is, in my view, a misjudgment.
832959523	33	Yes, under normal circumstances and with a competent and trustworthy negotiation partner on the British side, ways would be found to fudge the issue and to avoid a Brexit in all but its name.
832959523	34	That is why I predicted long ago that Brexit was not gonna happen.
832959523	35	But May has really done everything to affront the other side of the table.
832959523	36	She did not stick to commitments she had given, delivered papers too late to properly discuss them, and came to emergency summits called on her behalf without anything new to offer.
832959523	37	Matthew Parris, a conservative political commentator in London who originally favored May, now remarks of her: Battlefield America: T... John W. Whitehead Best Price: $10.78 Buy New $19.06 (as of 09:30 EDT - Details)
832959523	38	“She is mean.
832959523	39	She is rude.
832959523	40	She is cruel.
832959523	41	She is stupid.
832959523	42	I have heard that from almost everyone who has dealt with her,” Parris says.
832959523	43	He said he had never expected this much hatred, “and that is not a word I use lightly.”
832959523	44	The leaders of other EU countries also have had it with here.
832959523	45	The voters on the continent do not care about Britain.
832959523	46	There will be no punishment for Merkel or Macron for letting Britain crash out.
832959523	47	The EU will survive without the United Kingdom.
832959523	48	With a no-deal Brexit the United Kingdom is likely to fall apart.
832959523	49	Within a few years North Ireland would join the Irish Republic, peacefully one hopes, and Scotland would vote to leave.
832959523	50	A bit of hope may still rest in this one line in the BBC report which it leaves unexplained:
832959523	51	Meanwhile, Jeremy Corbyn said his talks in Brussels were “very constructive”.
832959523	52	Is there a EU deal being made with the opposition leader and behind Theresa May’s back?
832959523	53	Given that she is the Prime Minister how would that work out?
832959523	54	Reprinted with permission from Moon of Alabama.
