833028680	1	Understanding Mueller: What you need to know about the report on the Russia probe
833028680	3	Who sees Mueller report if it's not released?
833028680	4	Who sees Mueller report if it's not released?
833028680	5	Special counsel Robert Mueller's investigation is now complete, and he has now submitted his report to Attorney General William Barr.
833028680	6	But the extent of the probe's impact is not yet known.
833028680	7	Here's a guide to understanding how we got here, and what may come next.
833028680	8	It started May 17, 2017, eight days after President Trump fired FBI Director James Comey.
833028680	9	Mueller, a former federal prosecutor and director of the FBI, was given a broad mandate: A "full and thorough investigation of the Russian government's efforts to interfere in the 2016 presidential election ... any matters that arose or may arise directly from the investigation ... any other matters" within the scope of the special counsel law.
833028680	10	No new indictments are expected, but 34 individuals and three separate companies have been charged.
833028680	11	There have been seven guilty pleas and 99.5 months in prison served.
833028680	12	Those charged include: Paul Manafort, former Trump campaign chairman; Michael Cohen, President Trump's former personal attorney; and Michael Flynn, who was briefly National Security Adviser.
833028680	13	Twenty-five Russian nationals and three Russian companies face 161 total charges as part of Mueller's probe, though it is unlikely they will ever see an American court.
833028680	14	The public may never see all of Mueller's findings — that decision rests with William Barr, the attorney general.
833028680	15	Justice Department guidance says Barr should only submit a "brief notification" containing "an outline of the actions and the reasons for them."
833028680	16	He can choose to make much of Mueller's report public if he deems it in the public interest.
833028680	17	Regardless of what Mueller's report shows, congressional investigations are ongoing.
833028680	18	House Intelligence Committee Chairman Adam Schiff, a California Democrat, has expanded the parameters of the committee's probe.
833028680	19	House Judiciary Committee Chairman Jerry Nadler has launched an extensive investigation into whether Mr. Trump obstructed justice by firing Comey.
833028680	20	In early March, the Judiciary Committee requested documents
833028680	21	The U.S. Attorney's office in the Southern District of New York has also launched investigations into Mr. Trump and the Trump organization.
