813547724	1	Foreign Secretary Jeremy Hunt says the UK should not 'underestimate its strength' after Brexit
813547724	3	Post-Brexit Britain should use its power to defend democracy around the world, Jeremy Hunt will say today.
813547724	4	The Foreign Secretary will insist the UK should not 'underestimate' its strength.
813547724	5	'We are not a superpower and we do not have an empire,' he will say in a speech in Singapore.
813547724	6	'But we do have the fifth-biggest economy in the world, the third-biggest overseas aid budget, the second-biggest military budget in Nato, one of the two biggest financial centres, the world's language, highly effective intelligence services and a world-class diplomatic network.
813547724	7	'We also have immense reserves of soft power, with three of the world's top ten universities, 450,000 international students, 39million visits by tourists in 2017, and a global audience for our media, especially the BBC, measured in the hundreds of millions.'
813547724	8	Foreign Secretary Jeremy Hunt will give a speech in Singapore today where he will say the UK should not underestimate its strength after Brexit.
813547724	9	He is pictured in Myanmar before Christmas
813547724	10	Mr Hunt will point to Britain's links with the Commonwealth, the United States and Europe, saying: 'Those connections are why Britain's post-Brexit role should be to act as an invisible chain linking together the democracies of the world ... who share our values and support our belief in free trade, the rule of law and open societies.
813547724	11	'We should begin by being realistic about our global position.
813547724	12	That means not overestimating our strength but not underestimating it either.'
813547724	13	Mr Hunt will highlight worrying figures showing that 71 countries saw reversals of political and civil liberties in 2017.
813547724	14	He will sign a 'strategic partnership' with Singapore covering areas including defence and education.
