25162	1	Chińskie wojsko kontynuuje ćwiczenia wokół Tajwanu
25162	3	Chińskie wojsko kontynuuje w poniedziałek ćwiczenia na morzach i w przestrzeni powietrznej wokół Tajwanu - poinformowało w mediach społecznościowych dowództwo wschodniego teatru działań chińskiej Armii Ludowo-Wyzwoleńczej (ALW).
25162	5	Armia będzie prowadzić "praktyczne ćwiczenia w przestrzeni morskiej i powietrznej". Chińscy żołnierze mają się szkolić m.in. w atakowaniu okrętów podwodnych - przekazano w oświadczeniu zamieszczonym na platformie Weibo.
25162	7	Chiny od czwartku prowadzą bezprecedensowe ćwiczenia wojskowe na wodach i w przestrzeni powietrznej otaczających Tajwan. Część manewrów odbywa się zaledwie 20 km od tajwańskich wybrzeży. Manewry są reakcją na niedawną wizytę przewodniczącej Izby Reprezentantów USA Nancy Pelosi w Tajpej, przeciwko której Pekin stanowczo protestował. Początkowo informowano, że ćwiczenia zakończą się w niedzielę.
