25141	1	MILCZENIE AGATY
25141	3	Jest głośniejsze niż strzelanie z armaty. Jest wymowne i dzwoni w uszach jak trzy budziki naraz.
25141	5	Gdy były czarne protesty parasolek. Milczała. Gdy były kobiece protesty z wieszakami. Milczała. Gdy policja biła kobiety podczas Strajku Kobiet. Milczała. Gdy protestowały pielęgniarki i opiekunowie osób niepełnosprawnych. Milczała.
25141	7	Gdy policja wywoziła na komisariaty piętnastolatki, za wulgarne okrzyki na demonstracjach. Milczała. Gdy dzieci z Michałowa wywożono na bagna i do lasu. Milczała.
25141	9	Widziałem film jak czyta dzieciom bajki na zamku królewskim w Warszawie. Jej to pasuje. Mąż Andrzej też opowiada bajki. I to nie tylko na zamku, a cały czas. Może Agata powinna jednak poczytać coś o prawach kobiet?
25141	11	Teraz, gdy na skutek działań lobby fanatyków religijnych i decyzji Trybunału kucharki Przyłębskiej, wprowadzono przepisy o całkowitym zakazie usuwania ciąży, nawet w wypadku gwałtu czy zagrożenia życia, umiera młoda dziewczyna z Pszczyny, też milczy.
25141	13	A mogłaby zrobić choć mały gest. Pochodzi wszak z dobrej, krakowskiej rodziny. Rodziny wrażliwych poetów. Gdy w dniu premiery propagandowego filmu Smoleńsk, poszła na inny film, odbierano to niemal jako demonstrację samodzielności. Ale ona nigdy samodzielna nie była i nie będzie.
25141	15	Szykowne stroje i elegancja, nie pokryją braku klasy i serca. Zimna, wyrachowana, przewidywalna jak ćwiczenia gramatyki niemieckiej.
25141	17	Trafiła się jej w życiu fucha stulecia. Przypadek sprawił, że mąż, człowiek bez kręgosłupa, o mentalności gimnazjalisty i aparycji Jasia Fasoli, został prezydentem, a ona Pierwszą Damą.
25141	19	Nie będzie sobie tej fuchy psuła, gdy jakaś kobieta z małej mieściny daleko od Warszawy, kobiety której przecież nie zna, umrze na skutek durnego prawa. Nie będzie psuła sobie komfortu życia w pałacu prezydenckim, gdy jakieś kobiety cierpią, walczą o swoje i są bite.
25141	21	A jest już druga kadencja. Nikt Andrzeja nie zdejmie z fuchy. I drugi raz na fotel w Pałacu nie może startować. A więc mogłaby choćby współczuć.
25141	23	Jest takie powiedzenie, że na "Pana" to trzeba mieć pieniądze i wygląd. Na Pierwszą Damę wystarczy mieć po prostu serce. Jak widać zabrakło.
