25121	1	Sukces ukraińskiej armii. Zniszczyli rosyjski magazyn amunicji. Podsumowanie nocy
25121	3	Siły Zbrojne Ukrainy zniszczyły stanowisko dowodzenia i obserwacji 785. wydzielonego oddziału Gwardii Narodowej Federacji Rosyjskiej, dwa magazyny z amunicją i kompleks rakiet przeciwpancernych "Fagot" — podało dowództwo operacyjne "Południe". Z kolei jak przekazała wicepremier Iryna Wereszczuk, prawie 800 tys. osób wewnętrznie przesiedlonych będzie potrzebowało mieszkań. Zobacz, co jeszcze wydarzyło się w nocy!
25121	5	Prawie 800 tys. obywateli Ukrainy straciło domy
25121	7	— Prawie 800 tys. osób wewnętrznie przesiedlonych będzie potrzebowało mieszkań i robi się wszystko, aby zapewnić im miejsce do życia i spędzenia zimy — powiedziała w niedzielę wicepremier i minister ds. reintegracji terytoriów czasowo okupowanych Iryna Wereszczuk.
25121	9	— Jeśli chodzi o potrzebę tymczasowych mieszkań, prawie 800 tys. obywateli Ukrainy straciło domy. Rząd przygotował w tej sprawie programy budownictwa modułowego obsługiwane przez Ministerstwo Regionów, które ma na ich realizację odpowiednie środki. Jak wiadomo, są to programy wspólne z polskim rządem, inne rządy też są w nie zaangażowane, powstały już pierwsze miasta modułowe, ale to zdecydowanie za mało – powiedziała Iryna Wereszczuk.
25121	11	Zauważyła, że była świadkiem sytuacji w obwodzie czernihowskim, gdzie ludzie tak naprawdę nie chcieli zamieszkać w modułowych miastach, ponieważ wcześniej mieszkali we własnych, prywatnych budynkach. Mówili, chcemy "przynajmniej jednego pokoju, ale w swoim ogrodzie". — Ale nie da się tego jeszcze zapewnić — stwierdziła Wereszczuk.
25121	13	Mer Słowiańska: w mieście nie będzie sezonu grzewczego
25121	15	Mer Słowiańska Wadym Lach oświadczył w niedzielę, że z powodu wojny nie będzie możliwe rozpoczęcie w mieście wraz z nadejściem chłodów sezonu grzewczego.
25121	17	— Obecnie w Słowiańsku nie ma wody ani gazu, a prąd jest dostarczany z przerwami ze względu na bliskość linii wysokiego napięcia do strefy działań wojennych — powiedział mer miasta Wadym Lach w rozmowie z "Donbas News". Dodał, że w takich warunkach, nie będzie możliwe rozpoczęcie sezonu grzewczego wraz z nadejściem chłodów.
25121	19	Podkreślił, że mieszkańcy Słowiańska powinni się ewakuować, gdyż nadal będą kontynuowane próby zdobycia miasta przez wojska rosyjskie.
25121	21	Siły Zbrojne zniszczyły rosyjski magazyn amunicji i posterunek obserwacyjny
25121	23	Siły Zbrojne Ukrainy zniszczyły stanowisko dowodzenia i obserwacji 785. wydzielonego oddziału Gwardii Narodowej Federacji Rosyjskiej, dwa magazyny z amunicją i kompleks rakiet przeciwpancernych "Fagot" — poinformowała w poniedziałek Ukraińska Prawda na podstawie meldunku dowództwa operacyjnego "Południe".
25121	25	Zgodnie z poniedziałkowym meldunkiem dowództwa "Południe" zlikwidowano 66 Rosjan, pięć czołgów, dwie samobieżne haubice Goździk, trzy pojazdy opancerzone i dziewięć samochodów.
25121	27	Siły Zbrojne zniszczyły również drona Merlin-VR w pobliżu Iwanówki, gdzie Rosjanie próbowali przeprowadzić zwiad lotniczy.
25121	29	Ukraińskie lotnictwo wykonało pięć uderzeń na pozycje wroga. W szczególności zaatakowano 3 pozycje wroga w powiecie berysławskim. Pary myśliwców Mi-8 i Mi-24 zniszczyły 2 pozycje wroga w regionie Chersonia, informuje OK "Południe".
