25128	1	WYPIERDALAĆ, ALE DOKĄD?
25128	3	Wśród wielu transparentów obecnych na antypisowskich protestach w oczy rzucał się szczególnie jeden – ze zwięzłym hasłem: „Wypierdalać!”. Kwestia ta jest jednak bardziej skomplikowana niż może się wydawać – i wymaga doprecyzowania. Wypierdalać, ale kto? Sam Kaczyński? Całe PiS? Z młodzieżówką czy bez? A Solidarna Polska, kanapa Gowina i Konfederacja mogą zostać?
25128	5	Inne, być może nawet trudniejsze zagadnienie, dotyczy tego, dokąd wypierdalać. Masowa emigracja, szczególnie w dobie COVIDU, wydaje się trudna do spełnienia. Według partyjnych danych do PiS-u należy obecnie ponad 40 tysięcy osób – tylko w ciągu poprzedniej kadencji liczba ta zwiększyła się o połowę. Gdzie więc tych ludzi wysłać? I kto by ich zechciał?
25128	7	Łatwo krzyknąć „Wypierdalać!”, ale co potem, o tym już nikt nie myśli. Aby sprawdzić, czy to piękne polityczne hasło ma przełożenie na praktykę, postanowiłem przeanalizować eksport z Polski tylko jednej osoby: prezesa PiS. Cieszy się on na prawicy takim autorytetem, że jeśli wyjedzie sam, reszta niechybnie podąży za nim.
25128	10	1. Rosja
25128	12	Przeczytałem wszystkie dostępne na rynku biografie wicepremiera i wyłania się z nich smutny obraz. Jarosław był prywatnie za granicą tylko raz – jako 18-latek nad Morzem Czarnym w Związku Radzieckim. Niestety nawet z tego wyjazdu nie był zadowolony. W wywiadzie-rzece „O dwóch takich… Alfabet braci Kaczyńskich” Kaczyński wspomina upalne wakacje: „Zaopatrzenie na poziomie katastrofalnym. Oni jeszcze parę lat wcześniej jedli chleb z trocinami (…) Po powrocie do Polski mieliśmy wrażenie, że wracamy do strefy wolności i zamożności”.
25128	14	Od upadku Związku Radzieckiego trochę czasu już minęło, a Rosja stała się cenionym domem spokojnej starości dla upadłych watażków. Emeryturę spędza tam np. Wiktor Janukowycz, ukraiński eksprezydent, skazany zaocznie w ojczyźnie na 13 lat więzienia.
25128	16	Niestety relacje Putin-Kaczyński nie należą do najlepszych. Gdy w latach 2006-2007 Jarosław był premierem, panowie nie spotkali się ani razu. W 2010 r., jak wiadomo, Putin zamordował Kaczyńskiemu brata, który udawał się do Rosji z gościnną wizytą. Nie jest to najlepszy grunt pod wspólne zamieszkanie. Choć warto dodać, że nad górną Wołgą znajduje się już miasto Jarosław, liczące ponad 600 tysięcy mieszkańców, nazwane tak na cześć innego mądrego Jarosława – księcia Jarosława Mądrego.
25128	18	Natura Kaczyńskiego jest poza tym taka, że zaraz zacząłby Putinowi robić koło pióra, a choć to wielki kraj, jeden dyktator spokojnie od lat mu wystarcza. Nawet gdyby Kaczyńskiemu udało się wywołać w Rosji kolejną rewolucję, co przecież już Polsce w odzyskiwaniu niepodległości sprzyjało, nie wydaje się realne, aby ten bliski mentalnie bolszewikom człowiek był w stanie wsiąść na koń i doczłapać się do granicy.
25128	20	Inną, nie mniej ważną barierą jest język. Prezes nie „panimajet, czto ty gawarisz”. Jeśli dodamy do tego fakt, że pisowska elita mogłaby czuć pewien historycznie uzasadniony niepokój przed podróżą w głąb tego mocno zalesionego kraju, staje się jasne, że Jarosław do Rosji może udać się nie na emigrację, ale najwyżej na herbatę.
25128	24	2. Anglia
25128	26	Najpopularniejszy wśród Polaków cel emigracyjny. Kaczyńskiemu pasowałby choćby pod tym względem, że mógłby starać się tam utworzyć kolejny w dziejach rząd na uchodźstwie i za jego pośrednictwem wydawać dekrety, wręczać ordery i udawać sprawowanie realnej władzy. Prezes jednak już nad Tamizą bywał i – delikatnie mówiąc – nie podobało mu się. W listopadzie 1989 r. władze Obywatelskiego Klubu Parlamentarnego kazały mu udać się do Londynu, aby mobilizować angielskich polityków i lokalną Polonię w sprawie uznania granicy polsko-niemieckiej. W książce „Porozumienie przeciw monowładzy” prezes wspomina: „Na lotnisku miałem kłopoty z kontrolą paszportową. Mimo dyplomatycznego paszportu wypytywano mnie, co chcę robić i gdzie mieszkać. Wysilałem się, by coś odpowiedzieć (…). Wróciłem do Polski z pewną ulgą”.
25128	28	Rok później Kaczyński odbył kolejny lot do Anglii – tym razem nie opuścił jednak nawet terenu lotniska. Od razu udał się do Warszawy powrotnym samolotem z Ryszardem Kaczorowskim, który postanowił zwrócić insygnia głowy państwa II Rzeczypospolitej.
25128	30	Na następną wizytę w kraju królowej trzeba było czekać 20 lat. W czerwcu 2010 r., jako kandydat PiS na prezydenta, Kaczyński złożył wizytę premierowi Davidowi Cameronowi. Kamery uchwyciły uprzejme powitanie Brytyjczyka i reakcję Kaczyńskiego: słowa „aj dont anderstend”, połączone z panicznym machaniem rękami i szukaniem tłumacza.
25128	32	22 marca 2017 r. Kaczyński udał się do Londynu po raz ostatni, aby spotkać się z premier Theresą May i przedyskutować kwestię brexitu. Przez zamach terrorystyczny na Moście Westminsterskim musiał jednak zostać przymusowo na noc w Londynie. Nie jest to – przyznacie – wspomnienie, do którego chce się wracać.
25128	34	Wśród zalet pobytu w Anglii Kaczyński mógłby niewątpliwie wymienić to, że kraj ten przestał należeć do Unii Europejskiej, narzucającej i Polsce swoje zdanie w kwestii praworządności czy praw człowieka. Ponadto Kaczyński, który m.in. przez dwóję z angielskiego nie zdał w liceum z klasy do klasy, mógłby na Wyspach natknąć się na licznych Polaków i otworzyć usta w jedynej sobie znanej mowie. Zachodzi jednak ryzyko, że wśród rodaków mogłyby się znaleźć osoby nieprzychylne prezesowi – choćby działaczki proaborcyjne, które licznie protestowały w zeszłym tygodniu przed ambasadą w Londynie. I skończyłby co najmniej po mordzie obity.
