26219	1	Le comunicazioni del Presidente Draghi al Senato della Repubblica
26219	3	Signor Presidente,
26219	5	Onorevoli Senatrici e Senatori,
26219	7	Giovedì scorso ho rassegnato le mie dimissioni nelle mani del Presidente della Repubblica.
26219	9	Questa decisione è seguita al venir meno della maggioranza di unità nazionale che ha appoggiato questo Governo sin dalla sua nascita.
26219	11	Il Presidente della Repubblica ha respinto le mie dimissioni e mi ha chiesto di informare il Parlamento di quanto accaduto – una decisione che ho condiviso.
26219	13	Le Comunicazioni di oggi mi permettono di spiegare a voi e a tutti gli italiani le ragioni di una scelta tanto sofferta, quanto dovuta.
26219	15	Lo scorso febbraio, il Presidente della Repubblica mi affidò l’incarico di formare un governo per affrontare le tre emergenze che l’Italia aveva davanti: pandemica, economica, sociale.
26219	17	“Un governo” – furono queste le sue parole – “di alto profilo, che non debba identificarsi con alcuna formula politica”.
26219	19	“Un Governo che faccia fronte con tempestività alle gravi emergenze non rinviabili”.
26219	21	Tutti i principali partiti – con una sola eccezione – decisero di rispondere positivamente a quell’appello.
26219	23	Nel discorso di insediamento che tenni in quest’aula, feci esplicitamente riferimento allo “spirito repubblicano” del Governo, che si sarebbe poggiato sul presupposto dell’unità nazionale.
26219	25	In questi mesi, l’unità nazionale è stata la miglior garanzia della legittimità democratica di questo esecutivo e della sua efficacia.
26219	27	Ritengo che un Presidente del Consiglio che non si è mai presentato davanti agli elettori debba avere in Parlamento il sostegno più ampio possibile.
26219	29	Questo presupposto è ancora più importante in un contesto di emergenza, in cui il Governo deve prendere decisioni che incidono profondamente sulla vita degli italiani.
26219	31	L’amplissimo consenso di cui il Governo ha goduto in Parlamento ha permesso di avere quella “tempestività” nelle decisioni che il Presidente della Repubblica aveva richiesto.
26219	33	A lungo le forze della maggioranza hanno saputo mettere da parte le divisioni e convergere con senso dello Stato e generosità verso interventi rapidi ed efficaci, per il bene di tutti i cittadini.
26219	35	Grazie alle misure di contenimento sanitario, alla campagna di vaccinazione, ai provvedimenti di sostegno economico a famiglie e imprese, siamo riusciti a superare la fase più acuta della pandemia, a dare slancio alla ripresa economica.
26219	37	La spinta agli investimenti e la protezione dei redditi delle famiglie ci ha consentito di uscire più rapidamente di altri Paesi dalla recessione provocata dalla pandemia.
26219	39	Lo scorso anno l’economia è cresciuta del 6,6% e il rapporto tra debito pubblico e prodotto interno lordo è sceso di 4,5 punti percentuali.
26219	41	La stesura del Piano Nazionale di Ripresa e Resilienza, approvato a larghissima maggioranza da questo Parlamento, ha avviato un percorso di riforme e investimenti che non ha precedenti nella storia recente.
26219	43	Le riforme della giustizia, della concorrenza, del fisco, degli appalti – oltre alla corposa agenda di semplificazioni – sono un passo in avanti essenziale per modernizzare l’Italia.
26219	45	A oggi, tutti gli obbiettivi dei primi due semestri del PNRR sono stati raggiunti.
26219	47	Abbiamo già ricevuto dalla Commissione Europea 45,9 miliardi di euro, a cui si aggiungeranno nelle prossime settimane ulteriori 21 miliardi – per un totale di quasi 67 miliardi.
26219	49	Con il forte appoggio parlamentare della maggioranza e dell’opposizione, abbiamo reagito con assoluta fermezza all’invasione dell’Ucraina da parte della Russia.
26219	51	La condanna delle atrocità russe e il pieno sostegno all’Ucraina hanno mostrato come l’Italia possa e debba avere un ruolo guida all’interno dell’Unione Europea e del G7.
26219	53	Allo stesso tempo, non abbiamo mai cessato la nostra ricerca della pace – una pace che deve essere accettabile per l’Ucraina, sostenibile, duratura.
26219	55	Siamo stati tra i primi a impegnarci perché Russia e Ucraina potessero lavorare insieme per evitare una catastrofe alimentare, e allo stesso tempo aprire uno spiraglio negoziale.
26219	57	I progressi che si sono registrati la settimana scorsa in Turchia sono incoraggianti, e auspichiamo possano essere consolidati.
26219	59	Ci siamo mossi con grande celerità per superare l’inaccettabile dipendenza energetica dalla Russia – conseguenza di decenni di scelte miopi e pericolose.
26219	61	In pochi mesi, abbiamo ridotto le nostre importazioni di gas russo dal 40% a meno del 25% del totale e intendiamo azzerarle entro un anno e mezzo.
26219	63	È un risultato che sembrava impensabile, che dà tranquillità per il futuro all’industria e alle famiglie, rafforza la nostra sicurezza nazionale, la nostra credibilità nel mondo.
26219	65	Abbiamo accelerato, con semplificazioni profonde e massicci investimenti, sul fronte delle energie rinnovabili, per difendere l’ambiente, aumentare la nostra indipendenza energetica.
26219	67	E siamo intervenuti con determinazione per proteggere cittadini e imprese dalle conseguenze della crisi energetica, con particolare attenzione ai più deboli.
26219	69	Abbiamo stanziato 33 miliardi in poco più di un anno, quasi due punti percentuali di PIL, nonostante i nostri margini di finanza pubblica fossero ristretti.
26219	71	Lo abbiamo potuto fare grazie a una ritrovata credibilità collettiva, che ha contenuto l’aumento del costo del debito anche in una fase di rialzo dei tassi d’interesse.
26219	73	Il merito di questi risultati è stato vostro - della vostra disponibilità a mettere da parte le differenze e lavorare per il bene del Paese, con pari dignità, nel rispetto reciproco.
26219	75	La vostra è stata la migliore risposta all’appello dello scorso febbraio del Presidente della Repubblica e alla richiesta di serietà, al bisogno di protezione, alle preoccupazioni per il futuro che arrivavano dai cittadini.
26219	77	Gli italiani hanno sostenuto a loro volta questo miracolo civile, e sono diventati i veri protagonisti delle politiche che di volta in volta mettevamo in campo.
26219	79	Penso al rispetto paziente delle restrizioni per frenare la pandemia, alla straordinaria partecipazione alla campagna di vaccinazione.
26219	81	Penso all’accoglienza spontanea offerta ai profughi ucraini, accolti nelle case e nelle scuole con affetto e solidarietà.
26219	83	Penso al coinvolgimento delle comunità locali al PNRR, che lo ha reso il più grande progetto di trasformazione dal basso della storia recente.
26219	85	Mai come in questi momenti sono stato orgoglioso di essere italiano.
26219	87	L’Italia è forte quando sa essere unita.
26219	89	Purtroppo, con il passare dei mesi, a questa domanda di coesione che arrivava dai cittadini le forze politiche hanno opposto un crescente desiderio di distinguo e divisione.
26219	91	Le riforme del Consiglio Superiore della Magistratura, del catasto, delle concessioni balneari hanno mostrato un progressivo sfarinamento della maggioranza sull’agenda di modernizzazione del Paese.
26219	93	In politica estera, abbiamo assistito a tentativi di indebolire il sostegno del Governo verso l’Ucraina, di fiaccare la nostra opposizione al disegno del Presidente Putin.
26219	95	Le richieste di ulteriore indebitamento si sono fatte più forti proprio quando maggiore era il bisogno di attenzione alla sostenibilità del debito.
26219	97	Il desiderio di andare avanti insieme si è progressivamente esaurito e con esso la capacità di agire con efficacia, con “tempestività”, nell’interesse del Paese.
26219	99	Come ho detto in Consiglio dei Ministri, il voto di giovedì scorso ha certificato la fine del patto di fiducia che ha tenuto insieme questa maggioranza.
26219	101	Non votare la fiducia a un governo di cui si fa parte è un gesto politico chiaro, che ha un significato evidente.
26219	103	Non è possibile ignorarlo, perché equivarrebbe a ignorare il Parlamento.
26219	105	Non è possibile contenerlo, perché vorrebbe dire che chiunque può ripeterlo.
26219	107	Non è possibile minimizzarlo, perché viene dopo mesi di strappi ed ultimatum.
26219	109	L’unica strada, se vogliamo ancora restare insieme, è ricostruire da capo questo patto, con coraggio, altruismo, credibilità.
26219	111	A chiederlo sono soprattutto gli italiani.
26219	113	La mobilitazione di questi giorni da parte di cittadini, associazioni, territori a favore della prosecuzione del Governo è senza precedenti e impossibile da ignorare.
26219	115	Ha coinvolto il terzo settore, la scuola e l’università, il mondo dell’economia, delle professioni e dell’imprenditoria, lo sport.
26219	117	Si tratta di un sostegno immeritato, ma per il quale sono enormemente grato.
26219	119	Due appelli mi hanno colpito in modo particolare.
26219	121	Il primo è quello di circa 2.000 sindaci, autorità abituate a confrontarsi quotidianamente con i problemi delle loro comunità.
26219	123	Il secondo è quello del personale sanitario, gli eroi della pandemia, verso cui la nostra gratitudine collettiva è immensa.
26219	125	Questa domanda di stabilità impone a noi tutti di decidere se sia possibile ricreare le condizioni con cui il Governo può davvero governare.
26219	127	È questo il cuore della nostra discussione di oggi.
26219	129	È questo il senso dell’impegno su cui dobbiamo confrontarci davanti ai cittadini.
26219	131	L’Italia ha bisogno di un governo capace di muoversi con efficacia e tempestività su almeno quattro fronti.
26219	133	Il Piano Nazionale di Ripresa e Resilienza è un’occasione unica per migliorare la nostra crescita di lungo periodo, creare opportunità per i giovani e le donne, sanare le diseguaglianze a partire da quelle tra Nord e Sud.
26219	135	Entro la fine di quest’anno, dobbiamo raggiungere 55 obiettivi, che ci permetteranno di ricevere una nuova rata da 19 miliardi di euro.
26219	137	Gli obiettivi riguardano temi fondamentali come le infrastrutture digitali, il sostegno al turismo, la creazione di alloggi universitari e borse di ricerca, la lotta al lavoro sommerso.
26219	139	Completare il PNRR è una questione di serietà verso i nostri cittadini e verso i partner europei.
26219	141	Se non mostriamo di saper spendere questi soldi con efficienza e onestà, sarà impossibile chiedere nuovi strumenti comuni di gestione delle crisi.
26219	143	L’avanzamento del PNRR richiede la realizzazione dei tanti investimenti che lo compongono.
26219	145	Dalle ferrovie alla banda larga, dagli asili nido alle case di comunità, dobbiamo impegnarci per realizzare tutti i progetti che abbiamo disegnato con il contributo decisivo delle comunità locali.
26219	147	Dobbiamo essere uniti contro la burocrazia inutile, quella che troppo spesso ritarda lo sviluppo del Paese.
26219	149	E dobbiamo assicurarci che gli enti territoriali – a partire dai Comuni - abbiano tutti gli strumenti necessari per superare eventuali problemi di attuazione.
26219	151	Al tempo stesso, dobbiamo procedere spediti con le riforme che, insieme agli investimenti, sono il cuore del PNRR.
26219	153	La riforma del codice degli appalti pubblici intende assicurare la realizzazione in tempi rapidi delle opere pubbliche e il rafforzamento degli strumenti di lotta alla corruzione.
26219	155	Dobbiamo tenere le mafie lontane dal PNRR.
26219	157	È il modo migliore per onorare la memoria di Giovanni Falcone e Paolo Borsellino e degli uomini e donne delle loro scorte, a trent’anni dalla loro barbara uccisione.
26219	159	La riforma del codice degli appalti è stata approvata, ed è in corso il lavoro di predisposizione degli schemi di decreti delegati che devono essere licenziati entro marzo del prossimo anno.
26219	161	La riforma della concorrenza serve a promuovere la crescita, ridurre le rendite, favorire gli investimenti e l’occupazione.
26219	163	Con questo spirito abbiamo approvato norme per rimuovere gli ostacoli all’apertura dei mercati, alla tutela dei consumatori.
26219	165	La riforma tocca i servizi pubblici locali, inclusi i taxi, e le concessioni di beni e servizi, comprese le concessioni balneari.
26219	167	Il disegno di legge deve essere approvato prima della pausa estiva, per consentire entro la fine dell’anno l’ulteriore approvazione dei decreti delegati, come previsto dal PNRR.
26219	169	Ora c’è bisogno di un sostegno convinto all’azione dell’esecutivo – non di un sostegno a proteste non autorizzate, e talvolta violente, contro la maggioranza di governo.
26219	171	Per quanto riguarda la giustizia, abbiamo approvato la riforma del processo penale, del processo civile e delle procedure fallimentari e portato in Parlamento la riforma della giustizia tributaria.
26219	173	Queste riforme sono essenziali per avere processi giusti e rapidi, come ci chiedono gli italiani.
26219	175	È una questione di libertà, democrazia, e anche prosperità.
26219	177	Le scadenze segnate dal PNRR sono molto precise.
26219	179	Dobbiamo ultimare entro fine anno la procedura prevista per i decreti di attuazione della legge delega civile e penale.
26219	181	La legge di riforma della giustizia tributaria è in discussione al Senato, e deve essere approvata entro fine anno.
26219	183	Infine, l’autunno scorso il Governo ha dato il via al disegno di legge delega per la revisione del fisco.
26219	185	Siamo consapevoli che in Italia il fisco è complesso e spesso iniquo.
26219	187	Per questo non abbiamo mai aumentato le tasse sui cittadini.
26219	189	Tuttavia per questo occorre procedere con uno sforzo di trasparenza.
26219	191	Intendiamo ridurre le aliquote Irpef a partire dai redditi medio-bassi; superare l’Irap; razionalizzare l’Iva.
26219	193	I primi passi sono stati compiuti con l’ultima legge di bilancio, che ha avviato la revisione dell’Irpef e la riforma del sistema della riscossione.
26219	195	In Italia l’Agenzia delle Entrate-Riscossione conta 1.100 miliardi di euro di crediti residui, cioè non riscossi, pari a oltre il 60% del prodotto interno lordo nazionale – una cifra impressionante.
26219	197	Dobbiamo quindi approvare al più presto la riforma fiscale, che include il completamento della riforma della riscossione, e varare subito dopo i decreti attuativi.
26219	199	Accanto al PNRR, c’è bisogno di una vera agenda sociale, che parta dai più deboli, come i disabili e gli anziani non autosufficienti.
26219	201	L’aumento dei costi dell’energia e il ritorno dell’inflazione hanno causato nuove disuguaglianze, che aggravano quelle prodotte dalla pandemia.
26219	203	Fin dall’avvio del governo abbiamo condiviso con i sindacati e le associazioni delle imprese un metodo di lavoro che prevede incontri regolari e tavoli di lavoro.
26219	205	Questo metodo è già servito per gestire alcune emergenze del Paese: dalla ripresa delle attività produttive nella fase pandemica fino alla sicurezza del lavoro, su cui molto è stato fatto e molto resta ancora da fare.
26219	207	Oggi è essenziale proseguire in questo confronto e definire in una prospettiva condivisa gli interventi da realizzare nella prossima legge di bilancio.
26219	209	Quest’anno, l’andamento della finanza pubblica è migliore delle attese e ci permette di intervenire, come abbiamo fatto finora, senza nuovi scostamenti di bilancio.
26219	211	Bisogna adottare entro i primi giorni di agosto un provvedimento corposo per attenuare l’impatto su cittadini e imprese dell’aumento dei costi dell’energia, e poi rafforzare il potere d’acquisto, soprattutto delle fasce più deboli della popolazione.
26219	213	Ridurre il carico fiscale sui lavoratori, a partire dai salari più bassi, è un obiettivo di medio termine.
26219	215	Questo è un punto su cui concordano sindacati e imprenditori.
26219	217	Con la scorsa legge di bilancio abbiamo adottato un primo e temporaneo intervento.
26219	219	Dobbiamo aggiungerne un altro in tempi brevi, nei limiti consentiti dalle nostre disponibilità finanziarie.
26219	221	Occorre anche spingere il rinnovo dei contratti collettivi.
26219	223	Molti, tra cui quelli del commercio e dei servizi, sono scaduti da troppi anni.
26219	225	La contrattazione collettiva è uno dei punti di forza del nostro modello industriale, per l’estensione e la qualità delle tutele, ma non raggiunge ancora tutti i lavoratori.
26219	227	A livello europeo è in via di approvazione definitiva una direttiva sul salario minimo, ed è in questa direzione che dobbiamo muoverci, insieme alle parti sociali, assicurando livelli salariali dignitosi alle fasce di lavoratori più in sofferenza.
26219	229	Il reddito di cittadinanza è una misura importante per ridurre la povertà, ma può essere migliorato per favorire chi ha più bisogno e ridurre gli effetti negativi sul mercato del lavoro.
26219	231	C’è bisogno di una riforma delle pensioni che garantisca meccanismi di flessibilità in uscita e un impianto sostenibile, ancorato al sistema contributivo.
26219	233	L’Italia deve continuare a ridisegnare la sua politica energetica, come fatto in questi mesi.
26219	235	Il Vertice di questa settimana ad Algeri conferma la nostra assoluta determinazione a diversificare i fornitori, spingere in modo convinto sull’energia rinnovabile.
26219	237	Per farlo, c’è bisogno delle necessarie infrastrutture.
26219	239	Dobbiamo accelerare l’istallazione dei rigassificatori – a Piombino e a Ravenna.
26219	241	Non è possibile affermare di volere la sicurezza energetica degli italiani e poi, allo stesso tempo, protestare contro queste infrastrutture.
26219	243	Si tratta di impianti sicuri, essenziali per il nostro fabbisogno energetico, per la tenuta del nostro tessuto produttivo.
26219	245	In particolare, dobbiamo ultimare l’istallazione del rigassificatore di Piombino entro la prossima primavera.
26219	247	È una questione di sicurezza nazionale.
26219	249	Allo stesso tempo, dobbiamo portare avanti con la massima urgenza la transizione energetica verso fonti pulite.
26219	251	Entro il 2030 dobbiamo installare circa 70 GW di impianti di energia rinnovabile.
26219	253	La siccità e le ondate di calore anomalo che hanno investito l’Europa nelle ultime settimane ci ricordano l’urgenza di affrontare con serietà la crisi climatica nel suo complesso.
26219	255	Penso anche agli interventi per migliorare la gestione delle risorse idriche, la cui manutenzione è stata spesso gravemente deficitaria.
26219	257	Il PNRR stanzia più di 4 miliardi per questi investimenti, a cui va affiancato un “piano acqua” più urgente.
26219	259	Per quanto riguarda le misure per l’efficientamento energetico e più in generale i bonus per l’edilizia, intendiamo affrontare le criticità nella cessione dei crediti fiscali, ma al contempo ridurre la generosità dei contributi.
26219	261	Come promesso nel mio discorso di insediamento, e da voi sostenuto in quest’aula, questo governo si identifica pienamente nell’Unione Europea, nel legame transatlantico.
26219	263	La nostra posizione è chiara e forte: nel cuore dell’Unione Europea, del G7, della NATO.
26219	265	Dobbiamo continuare a sostenere l’Ucraina in ogni modo, come questo Parlamento ha impegnato il Governo a fare con una risoluzione parlamentare.
26219	267	Come mi ha ripetuto ieri al telefono il Presidente Zelensky, armare l’Ucraina è il solo modo per permettere agli ucraini di difendersi.
26219	269	Allo stesso tempo, occorre continuare a impegnarci per cercare soluzioni negoziali, a partire dalla crisi del grano.
26219	271	E dobbiamo aumentare gli sforzi per combattere le interferenze da parte della Russia e delle altre autocrazie nella nostra politica, nella nostra società.
26219	273	L’Italia è un Paese libero e democratico.
26219	275	Davanti a chi vuole provare a sedurci con il suo modello autoritario, dobbiamo rispondere con la forza dei valori europei.
26219	277	L’Unione Europea è la nostra casa e al suo interno dobbiamo portare avanti sfide ambiziose.
26219	279	Dobbiamo continuare a batterci per ottenere un tetto al prezzo del gas russo, che beneficerebbe tutti, e per la riforma del mercato elettrico, che può cominciare da quello domestico anche prima di accordi europei.
26219	281	Queste misure sono essenziali per difendere il potere d’acquisto delle famiglie e per tutelare i livelli di produzione delle imprese.
26219	283	In Europa si discuterà presto anche della riforma delle regole di bilancio e di difesa comune, del superamento del principio dell’unanimità.
26219	285	In tutti questi campi, l’Italia ha molto da dire – con credibilità, spirito costruttivo, e senza alcuna subalternità.
26219	287	Ci sono altri impegni che l’esecutivo vuole assumere che riguardano, ad esempio, la riforma del sistema dei medici di base e la discussione per il riconoscimento di forme di autonomia differenziata.
26219	289	Ma tutto questo richiede un Governo che sia davvero forte e coeso e un Parlamento che lo accompagni con convinzione, nel reciproco rispetto dei ruoli.
26219	291	All’Italia non serve una fiducia di facciata, che svanisca davanti ai provvedimenti scomodi.
26219	293	Serve un nuovo patto di fiducia, sincero e concreto, come quello che ci ha permesso finora di cambiare in meglio il Paese.
26219	295	I partiti e voi parlamentari - siete pronti a ricostruire questo patto?
26219	297	Siete pronti a confermare quello sforzo che avete compiuto nei primi mesi, e che si è poi affievolito?
26219	299	Sono qui, in quest’aula, oggi, a questo punto della discussione, solo perché gli italiani lo hanno chiesto.
26219	301	Questa risposta a queste domande non la dovete dare a me, ma la dovete dare a tutti gli italiani.
