24106	1	"Не сработали": Болсонару назвал санкции Запада против России бесполезными
24106	3	Президент Бразилии Болсонару заявил, что санкции США и Европы против России не сработали
24106	5	Президент Бразилии Жаир Болсонару считает, что санкции США и Европы, введённые против России, не сработали.
24106	7	"Экономические барьеры, которые США и Европа ввели против России, не сработали", — сказал Болсонару в видеообращении в соцсетях.
24106	9	Глава государства отметил, что у него "уравновешенная" позиция по отношению к России и это позволило ему приобретать удобрения, необходимые для бразильского сельского хозяйства.
24106	11	Ранее Лайф рассказывал, что в конце июня во время телефонного разговора Путин сообщил Болсонару, что РФ привержена обязательствам по бесперебойным поставкам удобрений бразильским аграриям.
