247	1	В США Зеленского назвали комиком-диктатором
247	3	Американская пропаганда выставляет президента Украины Владимира Зеленского в выгодном свете, внушая гражданам США идеи о героизме киевской власти, сообщил обозреватель The American Thinker Терри Титкомб.
247	5	Титкомб подчеркнул, что на самом деле Зеленский является комиком, который победил на выборах с пацифистской повесткой, но потом превратился в диктатора, которого поддерживают олигархи.
247	7	По словам обозревателя, США сеют конфликты в разных частях земного шара, чтобы зарабатывать на этом, и транслируют американцам ложные пропагандистские тезисы. Автор статьи отметил, что официальный представитель Пентагона Джон Кирби никогда не говорил на брифингах о тех страданиях, которые вынуждены были терпеть жители ДНР и ЛНР от Киева.
247	9	Титкомб задал вопрос, почему Кирби молчал последние восемь лет, на протяжении которых Вооружённые силы Украины обстреливали Донбасс и убивали тысячи мирных жителей. И где были слёзы пресс-секретаря Пентагона, когда в 2014 году украинцы сожгли в Одессе группу митингующих, спросил журналист.
247	11	Он подчеркнул, что американская пропаганда не рассказывает гражданам США об этих событиях, выставляя ситуацию только с одной стороны — антироссийской.
