24157	1	Разрешённые убийства: Патриарх Кирилл сравнил аборт со смертной казнью
24157	3	Предстоятель Русской православной церкви Патриарх Московский и всея Руси Кирилл во время выступления на открытии ХХIХ Международных образовательных чтений коснулся проблемы абортов, сравнив их со смертной казнью, которая в России запрещена. «Общество загоняет себя в ловушку правовых противоречий.
24157	5	«Общество загоняет себя в ловушку правовых противоречий. Если мы отказываемся от смертной казни, признавая неприкосновенность жизни, то почему считается допустимым аборт и эвтаназия? Ведь и там и там уничтожается человеческая жизнь», — сказал Святейший.
24157	7	Кроме того, предстоятель РПЦ назвал недопустимым создание государственных и общественных структур, которые под предлогом защиты детей вмешиваются в дела семьи.
24157	9	«Необоснованное отобрание детей есть та черта, которую нельзя переступить. Это красная черта», — подчеркнул Патриарх.
