2494	1	В США назвали фантастикой заявления Киева о скорой победе
2494	3	МОСКВА, 8 июля/ Радио Sputnik. Заявления украинских лидеров о скорой победе в противостоянии с Россией все больше смахивают на фантастику, считает обозреватель американского журнала Foreign Affairs Бэрри Позен.
2494	4	Автор отметил, что поставки Украине западного вооружения только затягивают конфликт.
2494	5	Тем не менее, российская армия слишком сильна, чтобы позволить Киеву "свести на нет ее достижения в Донбассе", уверен журналист. Он также подчеркнул, что у европейцев и американцев, страдающих от последствий антироссийских санкций, может закончиться терпение. На фоне этого западная поддержка станет "менее щедрой", отметил Позен.
2494	7	В итоге Запад будет вынужден согласиться на ослабление ограничений, а НАТО придется начать с Россией переговоры, направленные на поиск путей деэскалации, заключил Позен.
2494	9	Ранее радио Sputnik сообщало, что воинственная риторика Запада, по словам главы МИД РФ Сергея Лаврова, не способствует диалогу.
